.wrapper {
  display: inline-block;
  padding: 0;
  font-weight: 900;
  color: $color-primary;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
  cursor: pointer;
  background-color: $color-accent-secondary;
  border: 0;
  outline: none;
  transition-timing-function: cubic-bezier(0.44, 0, 0.56, 1);
  transition-duration: 0.5s;
  transition-property: border-radius background-color;

  @include hover {
    background-color: lighten($color-accent-secondary, 5.5%);
  }

  &_size_md {
    padding-top: 19px;
    padding-right: 40px;
    padding-bottom: 19px;
    padding-left: 40px;
    font-size: $font-size-sm;
    line-height: $line-height-sm;
    border-radius: 30px 4px;

    @include md-down {
      padding-top: 13px;
      padding-right: 30px;
      padding-bottom: 13px;
      padding-left: 30px;
      font-size: 14px;
    }

    @include hover {
      border-radius: 4px 30px;
    }
  }

  &_size_sm {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: $font-size-xs;
    line-height: $line-height-xs;
    border-radius: 15px 2px;

    @include hover {
      border-radius: 2px 15px;
    }
  }

  &_size_xs {
    padding: 12px 20px;
    font-size: 12px;
    font-weight: 900;
    border-radius: 15px 2px;

    @include hover {
      border-radius: 2px 15px;
    }
  }
}
