.wrapper {
  position: relative;
  margin-bottom: 30px;
}

.items-wrapper {
  max-width: 850px;

  @include lg-down {
    max-width: 610px;
  }
}

.illustration {
  position: absolute;
  top: 45px;
  right: 0;
  width: 300px;

  @include lg-down {
    top: 25px;
    width: 210px;
  }
}

.rectangle {
  position: absolute;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba($color-primary, 0.15);
}

.rectangle-1 {
  top: -45px;
  left: -30px;
  width: 200px;
  height: 350px;
  background-color: $color-accent-primary;
  border-top-left-radius: 60px;

  @include lg-down {
    top: -30px;
    left: -20px;
    width: 140px;
    height: 245px;
    border-top-left-radius: 45px;
  }
}

.rectangle-2 {
  top: -30px;
  right: -30px;
  width: 220px;
  height: 560px;
  background-color: $color-accent-secondary;
  border-bottom-right-radius: 60px;

  @include lg-down {
    top: -20px;
    right: -20px;
    width: 154px;
    height: 393px;
    border-bottom-right-radius: 40px;
  }
}

.rectangle-3 {
  bottom: -15px;
  left: -15px;
  width: 180px;
  height: 370px;
  background-color: $color-primary;
  border-top-right-radius: 120px;

  @include lg-down {
    bottom: -15px;
    left: -10px;
    width: 126px;
    height: 260px;
  }
}

.image {
  border-radius: 8px;
}

.shape {
  position: absolute;
  top: 755px;
  left: 1175px;
  z-index: -1;
  width: calc(115px + #{$container-side-gap});
  min-width: 430px;
  height: 700px;

  @include lg-down {
    top: 1000px;
    right: calc((100vw - 930px) / 2 / -1);
    left: auto;
    width: 220px;
    min-width: 0;
    height: auto;
  }

  @include md-down {
    display: none;
  }
}
