.wrapper {
  position: relative;
  padding-top: calc(#{$header-height} + 80px);
  padding-bottom: 180px;
  margin-bottom: 230px;

  @include section-paddings;
}

.category {
  display: block;
  margin-bottom: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.title {
  max-width: 520px;
  margin-bottom: 30px;
}

.description {
  max-width: 520px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.6;
  color: $color-secondary;
}

.illustration {
  position: absolute;
  top: 30px;
  right: 110px;
  width: 520px;
}

.shape-1 {
  position: absolute;
  top: -60px;
  left: 655px;
  z-index: -1;
  width: calc(645px + #{$container-side-gap});
  min-width: 948px;
  height: 1000px;
}

.shape-2 {
  position: absolute;
  right: 1100px;
  bottom: -505px;
  z-index: -1;
  width: calc(520px + #{$container-side-gap});
  min-width: 505px;
  height: 400px;
}
