.wrapper {
  margin-bottom: 180px;

  @include section-paddings;

  @include lg-down {
    margin-bottom: 150px;
  }

  @include md-down {
    margin-bottom: 120px;
  }
}

.title {
  margin-bottom: 40px;
  font-size: 36px;
}

.years-wrapper {
  padding-bottom: 10px;
  padding-left: 0;
  margin-bottom: 60px;
  border-bottom: 2px solid $color-additional-1;

  @include md-down {
    border-bottom: none;
  }
}

.year {
  padding-right: 0;
  padding-bottom: 10px;
  padding-left: 0;
  margin-right: 45px;
  font-size: $font-size-sm;
  font-weight: 700;
  line-height: $line-height-sm;
  color: $color-primary;
  text-decoration: none;
  cursor: pointer;
  background-color: $color-tertiary;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  transition-duration: $transition-base;
  transition-property: color, border-bottom;

  @include hover {
    color: $color-secondary;
  }

  @include lg-down {
    margin-right: 30px;
  }

  @include md-down {
    padding: 5px 10px;
    margin-right: 15px;
    background-color: $color-additional-1;
    border: 2px solid $color-additional-1;
    border-radius: 5px;
  }

  &:last-child {
    margin-right: 0;

    @include md-down {
      position: relative;

      &::after {
        position: absolute;
        right: calc(#{$container-side-gap-md} / -1);
        display: block;
        width: $container-side-gap-md;
        height: 1px;
        content: "";
      }
    }
  }

  &.active {
    position: relative;
    color: $color-accent-primary;
    pointer-events: none;

    @include md-down {
      background-color: $color-tertiary;
      border: 2px solid $color-accent-primary;
    }

    &::after {
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 100%;
      height: 2px;
      content: "";
      background-color: $color-accent-primary;

      @include md-down {
        display: none;
      }
    }
  }
}

.items-wrapper {
  padding-left: 0;
  list-style-type: none;

  @include with-link-secondary;
}

.item {
  display: flex;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.date {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  align-self: flex-start;
  justify-content: center;
  width: 64px;
  height: 74px;
  margin-right: 20px;
  color: $color-quaternary;
  background-color: $color-additional-1;
  border-radius: 5px;
  border-bottom-right-radius: 30px;
}

.day {
  font-size: $font-size-lg;
  font-weight: 900;
  line-height: $line-height-lg;
}

.event-title {
  margin-bottom: 5px;
  font-size: $font-size-md;
  font-weight: 700;
}

.details {
  color: $color-secondary;

  @include with-link-primary;
}

.time {
  font-weight: 700;
}
