.wrapper {
  padding-bottom: 180px;
  border-bottom: 2px solid $color-additional-1;

  @include section-paddings;

  @include lg-down {
    padding-bottom: 150px;
  }

  @include md-down {
    padding-bottom: 120px;
  }
}

.inner {
  max-width: 850px;
  margin-bottom: 180px;

  @include lg-down {
    max-width: 770px;
    margin-bottom: 150px;
  }

  @include md-down {
    max-width: 700px;
    margin-bottom: 120px;
  }
}

.content {
  @include content;
}

:global {
  .widgetloading#freshteam-widget {
    .content {
      margin-bottom: 45px;
    }
  }
}
