.wrapper {
  padding-bottom: 180px;
  border-bottom: 2px solid $color-additional-1;

  @include section-paddings;

  @include lg-down {
    padding-bottom: 150px;
  }

  @include md-down {
    padding-bottom: 120px;
  }
}

.inner {
  max-width: 850px;

  @include lg-down {
    max-width: 770px;
  }

  @include md-down {
    max-width: 700px;
  }
}

.content {
  @include content;
}

:global {
  #freshteam-widget {
    margin-bottom: 45px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    > * {
      font-family: $font-family-primary !important;
    }

    .content {
      h2,
      h3,
      h5 {
        color: $color-accent-primary;
      }
    }

    .btn.btn-primary {
      color: $color-primary;
      background-color: $color-accent-secondary;
      border-color: $color-accent-secondary;

      &:hover {
        color: $color-primary;
        background-color: lighten($color-accent-secondary, 5.5%);
        border-color: lighten($color-accent-secondary, 5.5%);
      }
    }

    #freshteam-careers {
      .advanced-search {
        padding-right: 15px;
        padding-left: 15px;
      }

      .content {
        @include md-down {
          width: 100%;
        }
      }

      .page-title {
        display: flex;
        font-size: 36px;
        font-weight: 900;
        color: $color-primary;

        @include md-down {
          display: block;
        }

        @include xs-down {
          text-align: center;
        }

        span:first-child {
          margin-right: 10px;
          margin-left: auto;
        }
      }

      .search-form-select {
        font-weight: 500;

        &:focus {
          border-color: $color-accent-primary;
        }
      }

      .icon-arrow-right {
        path {
          fill: $color-accent-primary;
        }
      }

      .role-title {
        @include sm-down {
          margin-bottom: 15px;
        }
      }

      .col-xs-8 {
        @include xs-down {
          width: 100%;
        }
      }
    }

    #job-desc-tmpl {
      a {
        color: $color-accent-primary;
      }

      .job-details {
        .job-details-header {
          background-color: $color-primary;
        }
      }

      .job-details-content {
        width: 100%;
      }

      .link-back {
        color: $color-tertiary;
      }

      .btn.btn-primary {
        font-weight: 600;
        color: $color-primary;
      }
    }
  }
}
