.wrapper {
  position: absolute;
  top: $header-height;
  left: 50%;
  width: 100vw;
  padding-top: 60px;
  padding-bottom: 60px;
  visibility: hidden;
  background-color: $color-tertiary;
  border-top: 1px solid $color-additional-2;
  box-shadow: 0 50px 50px rgba($color-primary, 0.2);
  opacity: 0;
  transition-duration: $transition-base;
  transition-property: opacity visibility;
  transform: translateX(-50%);

  &::after {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    content: "";
    background-color: transparent;
  }

  &.without-post {
    ul {
      padding-left: 423px;

      @include lg-down {
        padding-left: 416px;
      }
    }
  }
}

.inner {
  display: flex;
  align-items: flex-start;
}

.items {
  display: grid;
  flex-grow: 1;
  grid-template-columns: repeat(auto-fit, minmax(210px, max-content));
  row-gap: 45px;
  column-gap: 120px;
  padding-left: 0;
  list-style-type: none;
}

.item > a {
  display: inline-block;
  margin-bottom: 15px;
  font-size: $font-size-xs;
  font-weight: 700;
  line-height: $line-height-xs;
  text-transform: uppercase;
  border-bottom: 2px solid #e9ebf2;
}

.banner {
  position: relative;
  align-self: start;
  max-width: 300px;
  padding: 20px;
  margin-right: 146px;
  background-color: $color-primary;

  @include lg-down {
    margin-right: 116px;
  }

  @include hover {
    .banner-link-text {
      color: $color-accent-primary;
    }
  }
}

.banner-title {
  display: -webkit-box;
  margin-bottom: 10px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  @include lg-down {
    font-size: 20px;
  }
}

.banner-link-text {
  font-size: $font-size-xs;
  color: $color-accent-secondary;
  transition: color $transition-base;
}
