.wrapper {
  position: relative;
  margin-top: $header-height;
  margin-bottom: 90px;
  background-color: $color-additional-1;

  @include section-paddings;

  @include lg-down {
    margin-bottom: 60px;
  }

  @include md-down {
    margin-top: $header-height-md;
    margin-bottom: 45px;
  }
}

.inner {
  z-index: 1;
  padding-top: 90px;
  padding-bottom: 90px;
  text-align: center;

  @include lg-down {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  @include md-down {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.crumbs-wrapper {
  display: block;
  margin-bottom: 30px;
  font-size: $font-size-xs;
  font-weight: 700;
  line-height: $line-height-xs;
  color: $color-secondary;
  text-transform: uppercase;

  @include with-link-primary;

  .crumb {
    position: relative;
    margin-right: 25px;

    &::after {
      position: absolute;
      top: 50%;
      right: -15px;
      display: inline-block;
      padding: 3px;
      content: "";
      border: solid $color-secondary;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(-45deg);
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}

.title {
  margin-bottom: 60px;

  @include lg-down {
    margin-bottom: 50px;
  }

  @include md-down {
    margin-bottom: 40px;
  }

  @include sm-down {
    font-size: 36px;
  }
}

.background-image {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
}
