.wrapper {
  color: $color-accent-primary;
}

.cursor {
  border-left: 0.1em solid $color-accent-primary;
  animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
