.wrapper {
  margin-bottom: 180px;

  @include section-paddings;

  @include lg-down {
    margin-bottom: 150px;
  }

  @include md-down {
    margin-bottom: 120px;
  }
}

.inner {
  max-width: 850px;
  margin-right: auto;
  margin-left: auto;

  @include lg-down {
    max-width: 770px;
  }

  @include md-down {
    max-width: 700px;
  }
}

.content {
  margin-bottom: 60px;

  @include content;

  > h2 {
    margin-bottom: 30px;
    font-size: 36px;

    @include lg-down {
      font-size: 32px;
    }

    @include md-down {
      font-size: 30px;
    }
  }

  :global {
    .wp-block-image {
      line-height: 1;

      @include md-down {
        margin-right: 0;
        margin-left: 0;
      }

      .gatsby-image-wrapper {
        border: none;
      }

      img {
        object-fit: contain !important;
      }
    }
  }

  @include lg-down {
    margin-bottom: 50px;
  }

  @include md-down {
    margin-bottom: 40px;
  }
}
