.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: $header-height;

  @include section-paddings;

  @include md-down {
    height: $header-height-md;
  }
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;

  @include md-down {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  &:first-child {
    border-bottom: 1px solid $color-additional-1;
  }
}

.top-section {
  @include md-down {
    display: none;
  }
}

.list {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.list-item {
  position: relative;
  margin-right: 34px;
  font-size: $font-size-xs;
  line-height: $line-height-xs;
  color: $color-quaternary;

  @include with-link-primary;

  &::after {
    position: absolute;
    top: 50%;
    right: -19px;
    width: 4px;
    height: 4px;
    content: '';
    background-color: #dfe2ec;
    border-radius: 50%;
    transform: translateY(-50%);
  }

  &:last-child {
    margin-right: 0;

    &::after {
      display: none;
    }
  }
}

.list-link {
  display: block;

  &.active {
    color: inherit;
    pointer-events: none;
  }
}

.logo {
  display: block;

  @include md-down {
    width: 89px;
    height: 24px;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-right: 60px;
  margin-bottom: 0;
  list-style-type: none;

  @include md-down {
    display: none;
  }
}

.menu-item {
  margin-right: 30px;

  @include with-link-primary;

  &:last-child {
    margin-right: 0;
  }
}

.link {
  display: block;
  font-size: $font-size-xs;
  line-height: $line-height-xs;
}

.button {
  @include md-down {
    display: none;
  }
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 24px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;

  @include md-down {
    display: flex;
  }

  @include hover {
    .burger-line {
      background-color: $color-accent-primary;
    }
  }
}

.burger-line {
  width: 100%;
  height: 4px;
  background-color: $color-primary;
  border-radius: 2px;
  transition: $transition-base background-color;

  &:nth-child(odd) {
    width: 50%;
  }

  &:last-child {
    margin-left: auto;
  }
}
