.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: $header-height;

  @include section-paddings;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;

  &:first-child {
    border-bottom: 1px solid $color-additional-1;
  }
}

.list {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;

  li {
    position: relative;
    margin-right: 34px;
    font-size: $font-size-xs;
    line-height: $line-height-xs;
    color: $color-quaternary;

    @include with-link-primary;

    &::after {
      position: absolute;
      top: 50%;
      right: -19px;
      width: 4px;
      height: 4px;
      content: '';
      background-color: #dfe2ec;
      border-radius: 50%;
      transform: translateY(-50%);
    }

    &:last-child {
      margin-right: 0;

      &::after {
        display: none;
      }
    }

    a {
      display: block;

      &.active {
        color: inherit;
        pointer-events: none;
      }
    }
  }
}

.logo {
  display: block;
}

.nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-right: 60px;
  margin-bottom: 0;
  list-style-type: none;
}

.menu-item {
  margin-right: 30px;

  @include with-link-primary;

  &:last-child {
    margin-right: 0;
  }
}

.link {
  display: block;
  font-size: $font-size-xs;
  line-height: $line-height-xs;
}
