.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: $header-height;

  @include section-paddings;

  @include md-down {
    height: $header-height-md;
  }
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;

  @include md-down {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  &:first-child {
    border-bottom: 1px solid $color-additional-1;
  }
}

.top-section {
  @include md-down {
    display: none;
  }
}

.list {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.list-item {
  position: relative;
  margin-right: 34px;
  font-size: $font-size-xs;
  line-height: $line-height-xs;
  color: $color-quaternary;

  @include with-link-primary;

  &::after {
    position: absolute;
    top: 50%;
    right: -19px;
    width: 4px;
    height: 4px;
    content: '';
    background-color: #dfe2ec;
    border-radius: 50%;
    transform: translateY(-50%);
  }

  &:last-child {
    margin-right: 0;

    &::after {
      display: none;
    }
  }
}

.list-link {
  display: block;

  &.active {
    color: inherit;
    pointer-events: none;
  }
}

.logo {
  display: block;

  @include md-down {
    width: 89px;
    height: 24px;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-right: 60px;
  margin-bottom: 0;
  list-style-type: none;

  @include md-down {
    display: none;
  }
}

.menu-item {
  padding: 20px 0;
  margin-right: 30px;

  @include with-link-primary;

  &:hover {
    color: $color-accent-primary;

    .dropdown {
      visibility: visible;
      opacity: 1;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.link {
  display: block;
  font-size: $font-size-xs;
  line-height: $line-height-xs;
}

.dropdown {
  position: absolute;
  top: 130px;
  left: 50%;
  width: 100vw;
  padding-top: 60px;
  padding-bottom: 60px;
  visibility: hidden;
  background-color: $color-tertiary;
  border-top: 1px solid $color-additional-2;
  border-radius: 8px;
  box-shadow: (0 5px 10px rgba($color-primary, 0.25));
  opacity: 0;
  transition: visibility opacity $transition-base;
  transform: translateX(-50%) translateY(5px);

  &::before {
    position: absolute;
    top: 7px;
    left: 50%;
    width: 15px;
    height: 15px;
    content: '';
    background-color: $color-tertiary;
    border: 1px solid $color-additional-2;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) translateY(-100%) rotate(45deg);
  }

  &.dropdown-item-1::before {
    margin-left: 45px;
  }

  &.dropdown-item-2::before {
    margin-left: 140px;
  }

  &.dropdown-item-3::before {
    margin-left: 245px;
  }

  &.dropdown-item-4::before {
    margin-left: 350px;
  }

  &.dropdown-item-5::before {
    margin-left: 440px;
  }
}

.button {
  @include md-down {
    display: none;
  }
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 35px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-top: -5px;
  margin-right: -5px;
  margin-bottom: -5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;

  @include md-down {
    display: flex;
  }

  @include hover {
    .burger-line {
      background-color: $color-accent-primary;
    }
  }
}

.burger-line {
  width: 25px;
  height: 4px;
  background-color: $color-primary;
  border-radius: 2px;
  transition: $transition-base background-color;

  &:nth-child(odd) {
    width: 12.5px;
  }

  &:last-child {
    margin-left: auto;
  }
}
