.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  height: $header-height;
  background-color: transparent;
  transition: background-color $transition-base;

  @include section-paddings;

  @include md-down {
    height: $header-height-md;
  }

  &.menu-item-is-hovered {
    background-color: $color-tertiary;
  }
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
}

.top-section {
  @include md-down {
    display: none;
  }
}

.list {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;

  @include with-link-secondary;
}

.list-item {
  position: relative;
  margin-right: 34px;

  &::after {
    position: absolute;
    top: 50%;
    right: -19px;
    width: 4px;
    height: 4px;
    content: "";
    background-color: $color-quaternary;
    border-radius: 50%;
    transform: translateY(-50%);
  }

  &:last-child {
    margin-right: 0;

    &::after {
      display: none;
    }
  }
}

.list-link {
  display: flex;
  align-items: center;

  &.active {
    color: $color-quaternary;
    pointer-events: none;

    & .icon {
      opacity: 0.5;
    }
  }
}

.icon {
  margin-right: 10px;
}

.logo {
  display: block;
  width: 138px;
  height: 30px;

  @include md-down {
    width: 110px;
    height: 24px;
  }
}

.nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.menu {
  display: flex;
  height: 100%;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;

  @include md-down {
    display: none;
  }
}

.menu-item {
  margin-right: 50px;

  @include lg-down {
    margin-right: 30px;
  }

  @include with-link-secondary;

  // Pre-last child
  &:nth-last-child(2) {
    margin-right: 65px;
  }

  &:last-child {
    position: relative;
    margin-right: 0;

    &::before {
      position: absolute;
      top: 50%;
      left: -30px;
      width: 2px;
      height: 30px;
      content: "";
      background-color: $color-additional-1;
      transform: translateY(-50%);

      @include lg-down {
        left: -20px;
      }
    }
  }

  &.with-sub-menu {
    @include hover {
      .sub-menu {
        visibility: visible;
        opacity: 1;
      }

      .link {
        &::before {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .link {
      &::before {
        position: absolute;
        top: 86px;
        left: 50%;
        z-index: 1;
        display: inline-block;
        padding: 5px;
        content: "";
        background-color: $color-tertiary;
        border: solid $color-additional-2;
        border-width: 0 1px 1px 0;
        opacity: 0;
        transition-duration: $transition-base;
        transition-property: opacity visibility;
        transform: translateX(-50%) translateY(-100%) rotate(-135deg);
      }
    }
  }
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: 700;
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 35px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-top: -5px;
  margin-right: -5px;
  margin-bottom: -5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;

  @include md-down {
    display: flex;
  }

  @include hover {
    .burger-line {
      background-color: $color-accent-primary;
    }
  }
}

.burger-line {
  width: 25px;
  height: 4px;
  background-color: $color-primary;
  border-radius: 2px;
  transition: $transition-base background-color;

  &:nth-child(odd) {
    width: 12.5px;
  }

  &:last-child {
    margin-left: auto;
  }
}
