.wrapper {
  margin-bottom: 180px;

  @include section-paddings;

  @include lg-down {
    margin-bottom: 150px;
  }

  @include md-down {
    margin-bottom: 115px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;

  @include lg-down {
    margin-bottom: 50px;
  }
}

.filter {
  position: relative;
  padding-top: 5px;
  padding-right: 35px;
  padding-bottom: 5px;
  padding-left: 15px;
  margin-right: 15px;
  font-size: $font-size-xs;
  font-weight: 700;
  line-height: $line-height-xs;
  background-color: $color-additional-1;
  border: none;
  border-radius: 4px;
  outline: none;

  &:last-child {
    margin-right: 0;
  }
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url('../images/arrow.svg');
  background-repeat: no-repeat;
  background-position: right 15px center;
}

select::-ms-expand {
  display: none;
}

.partners-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 43px;
  column-gap: $column-gap;
  justify-items: start;
  padding-left: 0;

  @include lg-down {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 34px;
  }

  @include md-down {
    row-gap: 25px;
    column-gap: $column-gap-md;
  }
}

.partner {
  position: relative;
  font-size: $font-size-md;
  font-weight: 700;
  line-height: $line-height-md;
  list-style-type: none;

  @include with-link-primary;

  @include lg-down {
    font-size: 18px;
  }
}

.partner-link {
  display: block;
  padding-bottom: 5px;
  border-bottom: 2px solid $color-additional-2;
}
