.wrapper {
  position: relative;
  z-index: 1;
  padding-top: 125px;
  background-color: $color-additional-1;

  @include section-paddings;

  @include lg-down {
    padding-top: 150px;
  }

  @include md-down {
    padding-top: 70px;
  }

  @include sm-down {
    padding-top: 60px;
  }
}

.inner {
  z-index: 1;
  padding-bottom: 180px;

  @include lg-down {
    margin-bottom: 65px;
  }

  @include md-down {
    margin-bottom: 50px;
  }
}

.content {
  max-width: 520px;

  @include lg-down {
    max-width: 450px;
  }

  @include md-down {
    max-width: initial;
    margin-bottom: 190px;
  }

  @include sm-down {
    margin-bottom: 120px;
  }
}

.title {
  margin-bottom: 30px;
  text-transform: uppercase;

  @include md-down {
    margin-bottom: 25px;
    text-align: center;
  }
}

.description {
  max-width: 400px;
  margin-bottom: 60px;

  @include lg-down {
    max-width: 350px;
    margin-bottom: 50px;
  }

  @include md-down {
    max-width: initial;
    margin-bottom: 40px;
    text-align: center;
  }
}

.items-wrapper {
  @include md-down {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include sm-down {
    display: block;
  }
}

.items-inner {
  @include md-down {
    width: 100%;
    max-width: 460px;
    margin-right: auto;
    margin-left: auto;
  }
}

.button {
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: $color-primary;
  border: none;
  border-radius: 50%;
  outline: none;

  @include md-down {
    display: block;
  }

  @include sm-down {
    display: none;
  }
}

.arrow {
  height: 20px;
  margin-left: 3px;

  &.flipped {
    margin-right: 3px;
    margin-left: 0;
    transform: rotate(180deg);
  }
}

.details {
  position: absolute;
  top: 215px;
  right: 80px;
  max-width: 470px;
  border-radius: 8px;

  @include lg-down {
    top: 135px;
    right: 0;
    max-width: 400px;
  }

  @include md-down {
    position: relative;
    top: 0;
    max-width: 460px;
    margin-right: auto;
    margin-left: auto;
    transform: none;
  }

  @include md-down {
    margin-bottom: 130px;
  }

  @include sm-down {
    margin-bottom: 110px;
  }
}

.details-inner {
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  background: linear-gradient(234.34deg, #f8fafc 0%, $color-tertiary 100%);
  border-radius: 8px;
  box-shadow: 0 30px 60px rgba($color-primary, 0.25);

  @include xs-down {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
}

.details-title {
  margin-bottom: 30px;
}

.details-content {
  ul {
    padding-left: 16px;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;

    li {
      position: relative;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        position: absolute;
        top: 8px;
        left: -16px;
        width: 6px;
        height: 6px;
        content: '';
        background-color: $color-quaternary;
        border-radius: 50%;
      }
    }
  }
}

.details-rectangle {
  position: absolute;
  z-index: -1;
  border-radius: 8px;
  box-shadow: 0 30px 60px rgba($color-primary, 0.25);
}

.details-rectangle-1 {
  top: -120px;
  right: 280px;
  bottom: 100px;
  left: -120px;
  background-color: $color-accent-secondary;
  border-top-left-radius: 120px;

  @include lg-down {
    top: -100px;
    left: 50px;
    width: 230px;
  }

  @include md-down {
    left: -100px;
    width: 310px;
  }

  @include md-down {
    right: 250px;
    bottom: 85px;
    left: -100px;
    width: initial;
    height: initial;
  }

  @include sm-down {
    top: -80px;
    right: 80px;
    bottom: 65px;
    left: 15px;
  }
}

.details-rectangle-2 {
  top: 0;
  right: -120px;
  bottom: 115px;
  left: 100px;
  background-color: $color-accent-primary;
  border-bottom-right-radius: 120px;

  @include lg-down {
    display: none;
  }

  @include md-down {
    right: -100px;
    bottom: 120px;
    left: 300px;
    display: block;
    width: initial;
    height: initial;
  }

  @include sm-down {
    display: none;
  }
}

.details-rectangle-3 {
  top: -60px;
  right: -60px;
  bottom: -125px;
  left: 100px;
  background-color: $color-primary;
  border-bottom-right-radius: 120px;

  @include lg-down {
    top: -50px;
    right: -50px;
    width: 290px;
    height: 445px;
  }

  @include md-down {
    bottom: -100px;
    left: 80px;
    width: initial;
    height: initial;
  }

  @include sm-down {
    top: -40px;
    right: -50px;
    bottom: -80px;
    left: 65px;
  }
}

.details-rectangle-4 {
  top: 60px;
  right: 140px;
  bottom: -65px;
  left: -60px;
  background-color: $color-accent-primary;
  border-bottom-left-radius: 120px;

  @include lg-down {
    top: 45px;
    left: 50px;
    width: 300px;
  }

  @include md-down {
    top: 55px;
    right: 120px;
    bottom: -50px;
    left: -50px;
    width: initial;
    height: initial;
  }

  @include sm-down {
    top: 45px;
    right: 65px;
    bottom: -40px;
    left: -50px;
  }
}

.bullets-wrapper {
  display: none;
  justify-content: center;

  @include md-down {
    display: flex;
  }
}

.bullet {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  cursor: pointer;
  background-color: $color-primary;
  border: 2px solid $color-primary;
  border-radius: 2px;
  outline: none;
  transition: background-color $transition-base;

  &:last-child {
    margin-right: 0;
  }

  &.active {
    background-color: transparent;
  }

  &:nth-of-type(1),
  &:nth-of-type(4n + 5) {
    border-top-right-radius: 6px;
  }

  &:nth-of-type(2),
  &:nth-of-type(4n + 6) {
    border-top-left-radius: 6px;
  }

  &:nth-of-type(3),
  &:nth-of-type(4n + 7) {
    border-bottom-right-radius: 6px;
  }

  &:nth-of-type(4),
  &:nth-of-type(4n + 8) {
    border-bottom-left-radius: 6px;
  }
}
