.wrapper {
  position: relative;
  z-index: 1;
  padding-top: 190px;
  background-color: $color-additional-1;

  @include section-paddings;

  @include lg-down {
    padding-top: 150px;
  }
}

.inner {
  z-index: 1;
  margin-bottom: 70px;

  @include lg-down {
    margin-bottom: 65px;
  }
}

.content {
  max-width: 520px;

  @include lg-down {
    max-width: 450px;
  }
}

.title {
  margin-bottom: 30px;
}

.description {
  max-width: 400px;
  margin-bottom: 60px;

  @include lg-down {
    max-width: 350px;
    margin-bottom: 50px;
  }
}

.shape {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  min-width: 1920px;
  transform: translateX(-50%);

  @include lg-down {
    left: -235px;
    width: 1660px;
    min-width: initial;
    transform: none;
  }
}

.illustration {
  position: relative;
  left: 50%;
  display: block;
  width: 1788px;
  transform: translateY(19px) translateX(-50%);

  @include lg-down {
    width: 1200px;
    transform: translateY(13px) translateX(-50%);
  }
}
