.wrapper {
  position: relative;
  padding-top: 190px;
  background-color: $color-additional-1;
}

.inner {
  z-index: 1;
  margin-bottom: 71px;
}

.content {
  max-width: 520px;
}

.title {
  margin-bottom: 30px;
}

.description {
  max-width: 400px;
  margin-bottom: 60px;
}

.items-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.shape {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  min-width: 1920px;
  transform: translateX(-50%);
}

.illustration {
  position: relative;
  left: 50%;
  display: block;
  width: 1788px;
  transform: translateY(19px) translateX(-50%);
}
