.wrapper {
  margin-bottom: 180px;
}

.title {
  margin-bottom: 60px;
}

.items-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
  column-gap: $column-gap;
  padding-left: 0;
  list-style-type: none;
}

.item {
  height: 220px;
  padding: 15px;
  background-image: linear-gradient(234.34deg, #f8fafc 0%, $color-tertiary 100%);
  border-radius: 8px;
  box-shadow: 0 10px 20px 10px rgba($color-primary, 0.05);

  @include with-link-primary;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  height: 135px;
}

.footer-text {
  position: relative;
  margin-top: auto;
  font-size: $font-size-xs;
  font-weight: 700;
  line-height: $line-height-xs;
  text-transform: uppercase;

  &::before {
    position: absolute;
    top: -15px;
    left: 50%;
    width: 260px;
    height: 1px;
    content: '';
    background-color: $color-additional-1;
    transform: translateX(-50%);
  }
}
