.wrapper {
  padding: 30px;
  margin-bottom: 130px;
  background: linear-gradient(234.34deg, $color-additional-1 0%, $color-tertiary 100%);
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba($color-primary, 0.25);

  @include lg-down {
    padding: 25px;
  }
}

.title {
  margin-bottom: 30px;
  font-size: 40px;

  @include lg-down {
    margin-bottom: 20px;
    font-size: 30px;
  }
}

.items-wrapper {
  padding-left: 0;
  list-style-type: none;

  @include lg-down {
    margin-bottom: 0;
  }
}

.item {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding-bottom: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
  border-bottom: 1px solid $color-additional-1;

  &:last-child {
    border-bottom: none;

    @include lg-down {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    content: '';
    background-color: $color-accent-secondary;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba($color-primary, 0.15);

    @include lg-down {
      width: 35px;
      height: 35px;
    }
  }

  @include lg-down {
    flex-direction: column;
    font-size: 16px;
  }
}

.number {
  z-index: 1;
  display: block;
  padding: 6px 16px;
  margin-right: 15px;
  font-size: $font-size-md;
  font-weight: 900;
  line-height: $line-height-md;

  @include lg-down {
    padding: 5px 12px;
    margin-bottom: 10px;
  }
}
