.subpage-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(263px, 1fr));
  row-gap: 20px;
  column-gap: $column-gap;
  padding-left: 0;
  margin-top: 45px;
  margin-bottom: 45px;
  list-style-type: none;

  @include md-down {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 15px;
    column-gap: $column-gap-md;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &__wrapper {
    position: relative;
    text-align: center;
    background-image:
      linear-gradient(
        234.34deg,
        #f8fafc 0%,
        $color-tertiary 100%
      );
    border-radius: 8px;
    box-shadow: 0 10px 20px 10px rgba($color-primary, 0.05);
    transition: background-image $transition-base, box-shadow $transition-base;

    @include hover {
      z-index: 1;
      background-image:
        linear-gradient(0deg, $color-tertiary, $color-tertiary),
        linear-gradient(234.34deg, #f8fafc 0%, $color-tertiary 100%);
      box-shadow: 0 30px 60px 10px rgba($color-primary, 0.25);

      .subpage-cards__button-text {
        color: $color-accent-primary;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    color: inherit;
    text-decoration: none;

    @include md-down {
      position: relative;
      flex-direction: row;
      padding-top: 45px;
      padding-bottom: 45px;
      padding-left: 190px;
    }

    @include sm-down {
      flex-direction: column;
      min-height: 312px;
      padding-top: 40px;
      padding-right: 25px;
      padding-bottom: 20px;
      padding-left: 25px;
    }
  }

  &__number {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    font-size: 26px;
    font-weight: 900;
    line-height: 1.2;
    color: $color-primary;
    background-color: $color-accent-secondary;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 30px;

    @include lg-down {
      font-size: 24px;
    }

    @include md-down {
      width: 50px;
      height: 50px;
      font-size: 22px;
    }
  }

  &__icon {
    margin-top: 15px;
    margin-bottom: 30px;

    @include md-down {
      position: absolute;
      top: 50%;
      left: 45px;
      height: 100px;
      margin-top: 0;
      margin-bottom: 0;
      transform: translateY(-50%);
    }

    @include sm-down {
      position: static;
      margin-bottom: 25px;
      transform: none;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    width: 100%;
    color: $color-primary;

    @include md-down {
      align-items: flex-start;
    }

    @include sm-down {
      align-items: center;
    }
  }

  &__title {
    margin-bottom: 60px;
    font-size: 26px;
    line-height: 1.2;

    @include lg-down {
      font-size: 24px;
    }

    @include md-down {
      margin-bottom: 15px;
      font-size: 22px;
    }
  }

  &__button-text {
    position: relative;
    width: 100%;
    margin-top: auto;
    font-size: $font-size-xs;
    font-weight: 700;
    line-height: $line-height-xs;
    color: $color-primary;
    text-transform: uppercase;
    transition: color $transition-base;

    @include md-down {
      width: initial;
    }

    @include sm-down {
      width: 100%;
    }

    &::before {
      position: absolute;
      top: -15px;
      right: 0;
      left: 0;
      height: 2px;
      content: "";
      background-color: $color-additional-1;

      @include md-down {
        visibility: hidden;
      }

      @include sm-down {
        visibility: visible;
      }
    }
  }
}
