.wrapper {
  margin-bottom: 115px;
}

.title {
  margin-bottom: 90px;
}

.items-wrapper {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 220px);
  grid-auto-flow: column;
  row-gap: 63px;
  column-gap: 110px;
  justify-items: start;
  padding-left: 0;
}

.item {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  list-style-type: none;

  @include with-link-primary;
}

.link {
  padding-right: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid $color-additional-2;
}

.icon-wrapper {
  position: absolute;
  display: block;

  &:hover::before,
  &:hover::after {
    position: absolute;
    left: 50%;
    background-color: $color-primary;
  }

  &:hover::before {
    top: -20px;
    width: 10px;
    height: 10px;
    content: '';
    transform: translateX(-50%) rotate(45deg);
  }

  &:hover::after {
    top: -50px;
    z-index: 1;
    width: 165px;
    height: 35px;
    padding: 10px 15px;
    font-size: $font-size-xs;
    font-weight: 500;
    line-height: $line-height-xs;
    color: $color-additional-1;
    content: attr(title);
    transform: translateX(-50%);
  }
}

.cup {
  top: 0;
  right: -45px;
}

.double-cup {
  top: -10px;
  right: -60px;
}
