.wrapper {
  position: relative;
  padding-top: 120px;
  padding-bottom: 180px;
  text-align: center;
  background-color: $color-additional-1;

  @include section-paddings;

  @include lg-down {
    padding-top: 90px;
    padding-bottom: 120px;
  }

  @include md-down {
    padding-top: 70px;
    padding-bottom: 90px;
  }

  @include sm-down {
    padding-top: 50px;
  }
}

.inner {
  z-index: 1;
}

.title {
  margin-bottom: 5px;
}

.description {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: $font-size-md;
  line-height: $line-height-md;
  color: $color-secondary;

  @include lg-down {
    font-size: 18px;
  }

  @include md-down {
    margin-bottom: 25px;
    font-size: 16px;
  }
}

.illustration {
  position: absolute;
  bottom: -6px;
  left: 50%;
  margin-left: -380px;
  transform: translateX(-50%);

  @include lg-down {
    bottom: -5px;
    width: 2260px;
    margin-left: -310px;
  }

  @include sm-down {
    bottom: -10px;
    margin-left: -375px;
  }

  @include xs-down {
    margin-left: -410px;
  }
}
