.wrapper {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
  background-color: $color-additional-1;

  @include section-paddings;

  @include lg-down {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  @include md-down {
    padding-top: 70px;
    padding-bottom: 75px;
  }

  @include sm-down {
    padding-top: 50px;
  }
}

.inner {
  z-index: 1;
}

.title {
  margin-bottom: 15px;
}

.description {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: $font-size-md;
  line-height: $line-height-md;
  color: $color-secondary;

  @include md-down {
    margin-bottom: 30px;
    font-size: 18px;
  }
}

.background-image {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
}
