.wrapper {
  z-index: 0;
  display: flex;
  padding-top: 140px;
  padding-bottom: 150px;
  margin-top: $header-height;
  margin-bottom: 90px;
  background:
    url("./images/background-image.svg") no-repeat center
    $color-additional-1;
  background-size: cover;

  @include section-paddings;

  @include lg-down {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  @include md-down {
    padding-top: 100px;
    padding-bottom: 90px;
    margin-top: $header-height-md;
  }
}

.inner {
  z-index: 1;
  text-align: center;

  @include with-link-secondary;
}

.title {
  max-width: 850px;
  margin: 0 auto;
}
