.wrapper {
  margin-bottom: 180px;

  @include section-paddings;

  @include lg-down {
    margin-bottom: 120px;
  }

  @include md-down {
    margin-bottom: 90px;
  }
}

.title {
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;

  @include md-down {
    margin-bottom: 25px;
  }
}

.subtitle {
  max-width: 860px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
  text-align: center;

  @include lg-down {
    margin-bottom: 50px;
  }

  @include md-down {
    margin-bottom: 40px;
  }

  @include sm-down {
    max-width: initial;
  }
}

.items-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: $column-gap;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;

  @include md-down {
    display: block;
  }
}
