.wrapper {
  margin-top: 30px;
  margin-bottom: 30px;

  @include section-paddings;
}

.text {
  font-size: 30px;
  line-height: 1.4;

  @include md-down {
    font-size: 28px;
  }

  @include sm-down {
    font-size: $font-size-lg;
  }

  @include with-link-primary;

  a {
    font-weight: 600;
  }
}
