*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: $font-family-primary;
  font-size: $font-size-base;
  font-weight: 500;
  line-height: $line-height-base;
  color: $color-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  position: relative;
  max-width: $container-width;
  margin-right: auto;
  margin-left: auto;

  @include lg-down {
    max-width: 940px; // TODO: Once we have adaptive versions of at least one page, check if the width of the container is correct
  }

  @include md-down {
    max-width: 700px; // TODO: Once we have adaptive versions of at least one page, check if the width of the container is correct
  }

  @include sm-down {
    max-width: 100%;
  }
}

.section {
  @include sm-down {
    // TODO: Once we have adaptive versions of at least one page, check if paddings are correct
    padding-right: calc(constant(safe-area-inset-right) + 15px);
    padding-right: calc(env(safe-area-inset-right) + 15px);
    padding-left: calc(constant(safe-area-inset-left) + 15px);
    padding-left: calc(env(safe-area-inset-left) + 15px);
  }
}
