.wrapper {
  padding-top: 90px;
  padding-bottom: 90px;
  margin-top: $header-height;
  margin-bottom: 80px;
  background-color: $color-primary;

  @include section-paddings;

  @include lg-down {
    padding-top: 70px;
    padding-bottom: 70px;
    margin-bottom: 70px;
  }

  @include md-down {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: $header-height-md;
    margin-bottom: 50px;
    text-align: center;
  }
}

.inner {
  position: relative;
}

.category-wrapper {
  display: block;
  margin-bottom: 30px;
  font-size: $font-size-xs;
  font-weight: 700;
  line-height: $line-height-xs;
  color: $color-tertiary;
  text-transform: uppercase;

  .category {
    position: relative;
    margin-right: 25px;
    color: $color-accent-primary;

    &::after {
      position: absolute;
      top: 50%;
      right: -15px;
      display: inline-block;
      padding: 3px;
      content: '';
      border: solid $color-tertiary;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(-45deg);
      transform: translateY(-50%) rotate(-45deg);
    }
  }

  @include md-down {
    margin-bottom: 25px;
  }
}

.title {
  max-width: 525px;
  margin-bottom: -5px;

  @include md-down {
    max-width: initial;
    margin-bottom: 0;
  }
}

.description {
  display: -webkit-box;
  max-width: 770px;
  overflow: hidden;
  font-size: $font-size-md;
  line-height: $line-height-md;
  color: $color-quaternary;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  @include lg-down {
    max-width: 560px;
    font-size: 18px;
  }

  @include md-down {
    max-width: initial;
    font-size: 16px;
  }
}

.circles {
  position: absolute;
  top: -90px;
  left: 195px;
}
