.wrapper {
  margin-bottom: 120px;

  @include section-paddings;

  &.home {
    .title {
      font-size: $font-size-xl;
      line-height: $line-height-xl;

      @include lg-down {
        font-size: 40px;
      }

      @include md-down {
        font-size: 36px;
      }
    }
  }
}

.title {
  margin-bottom: 60px;
  font-size: 36px;

  @include lg-down {
    font-size: 32px;
  }

  @include md-down {
    font-size: 30px;
  }
}

.items-wrapper {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: $column-gap;
  margin-bottom: 60px;
  list-style-type: none;

  @include md-down {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }
}

.events-wrapper {
  :last-child {
    margin-bottom: 0;
  }
}

.events-group {
  margin-bottom: 60px;
}

.year-title {
  margin-bottom: 30px;
  color: $color-quaternary;
}
