.wrapper {
  z-index: 0;
  margin-top: $header-height;
  margin-bottom: 90px;

  @include lg-down {
    margin-bottom: 70px;
  }

  @include md-down {
    margin-top: $header-height-md;
    margin-bottom: 50px;
  }
}

.wrapper-inner {
  display: flex;
  padding-top: 140px;
  padding-bottom: 300px;
  background: url("./images/background-image.svg") no-repeat center
    $color-additional-1;
  background-size: cover;

  @include section-paddings;

  @include lg-down {
    padding-top: 120px;
    padding-bottom: 210px;
  }

  @include md-down {
    padding-top: 100px;
    padding-bottom: 180px;
  }

  @include xs-down {
    padding-bottom: 120px;
  }
}

.inner {
  position: relative;
  z-index: 1;
  text-align: center;

  @include with-link-secondary;
}

.title {
  max-width: 850px;
  margin: 0 auto;
}

.image-wrapper {
  margin-top: -260px;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: center;
  display: flex;

  @include lg-down {
    margin-top: -15%;
  }

  @include sm-down {
    margin-top: -20%;
  }
}

.image {
  max-height: 490px;

  @include lg-down {
    max-height: 350px;
  }

  @include md-down {
    max-height: 265px;
  }

  @include xs-down {
    max-height: 150px;
  }
}
