@keyframes in {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.wrapper {
  position: relative;
  margin-right: 15px;

  @include sm-down {
    margin-bottom: 10px;
  }

  &:last-child {
    margin-right: 0;

    @include sm-down {
      margin-bottom: 0;
    }
  }
}

.filter {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  font-size: $font-size-xs;
  font-weight: 700;
  line-height: $line-height-xs;
  background-color: $color-additional-1;
  border: none;
  border-radius: 4px;
  outline: none;

  &.filter-open {
    .left {
      transform: rotate(135deg);
    }

    .right {
      transform: rotate(-135deg);
    }
  }
}

.label {
  display: inline-block;
  margin-right: 20px;
}

.arrow {
  position: relative;

  span {
    position: absolute;
    top: 5px;
    display: inline-block;
    width: 2px;
    height: 8px;
    background-color: $color-secondary;
    transition: transform $transition-base ease;
  }
}

.left {
  left: 0;
  transform: rotate(45deg);
}

.right {
  right: 3px;
  transform: rotate(-45deg);
}

.items-wrapper {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: max-content;
  max-height: 250px;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  overflow: scroll;
  background-color: $color-tertiary;
  border-radius: 2px;
  box-shadow: 0 10px 20px 10px rgba($color-primary, 0.05);
  animation: in 0.2s ease-in;
}

.item {
  flex-shrink: 0;
  width: 100%;
  padding: 0;
  margin-bottom: 15px;
  font-weight: 700;
  text-align: left;
  background-color: $color-tertiary;
  border: none;
  outline: none;

  &:last-child {
    margin-bottom: 0;
  }

  @include hover {
    color: $color-accent-primary;
    cursor: pointer;
  }
}
