.wrapper {
  position: relative;
  text-align: center;
  background-image: linear-gradient(234.34deg, #f8fafc 0%, $color-tertiary 100%);
  border-radius: 8px;
  box-shadow: 0 10px 20px 10px rgba($color-primary, 0.05);
  transition: background-image $transition-base, box-shadow $transition-base;

  @include md-down {
    margin-bottom: 20px;
    text-align: left;
  }

  @include sm-down {
    text-align: center;
  }

  @include hover {
    z-index: 1;
    background-image: linear-gradient(0deg, $color-tertiary, $color-tertiary), linear-gradient(234.34deg, #f8fafc 0%, $color-tertiary 100%);
    box-shadow: 0 30px 60px 10px rgba($color-primary, 0.25);

    .footer-text {
      color: $color-accent-primary;
    }
  }

  &:last-child {
    @include md-down {
      margin-bottom: 0;
    }
  }
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  color: inherit;
  text-decoration: none;

  @include md-down {
    flex-direction: row;
    align-items: flex-start;
    padding-top: 10px;
    padding-right: 60px;
    padding-bottom: 25px;
    padding-left: 60px;
  }

  @include sm-down {
    flex-direction: column;
    align-items: center;
    padding-right: 25px;
    padding-bottom: 20px;
    padding-left: 25px;
  }
}

.number {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: $color-accent-secondary;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 30px;

  @include md-down {
    width: 50px;
    height: 50px;
  }
}

.image {
  margin-top: 15px;
  margin-bottom: 30px;

  @include md-down {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    margin-right: 30px;
    margin-bottom: 0;
  }

  @include sm-down {
    margin-top: 30px;
    margin-right: 0;
    margin-bottom: -5px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;

  @include md-down {
    display: block;
    padding-top: 35px;
  }
}

.title {
  margin-bottom: 60px;

  @include md-down {
    margin-bottom: 10px;
  }

  @include sm-down {
    margin-bottom: 50px;
  }
}

.footer-text {
  position: relative;
  width: 100%;
  margin-top: auto;
  font-size: $font-size-xs;
  font-weight: 700;
  line-height: $line-height-xs;
  text-transform: uppercase;
  transition: color $transition-base;

  &::before {
    position: absolute;
    top: -15px;
    right: 0;
    left: 0;
    height: 2px;
    content: '';
    background-color: $color-additional-1;

    @include md-down {
      display: none;
    }

    @include sm-down {
      display: block;
    }
  }
}
