.wrapper {
  position: relative;
  padding-top: 90px;
  padding-bottom: 80px;
  margin-top: $header-height;
  margin-bottom: 75px;
  background-color: $color-additional-1;

  @include section-paddings;

  @include lg-down {
    padding-top: 70px;
    padding-bottom: 70px;
    margin-bottom: 70px;
  }
}

.inner {
  position: relative;
}

.category {
  display: block;
  margin-bottom: 30px;
  font-size: $font-size-xs;
  font-weight: 700;
  line-height: $line-height-xs;
  color: $color-secondary;
  text-transform: uppercase;
}

.description {
  max-width: 770px;
  font-size: $font-size-md;
  line-height: $line-height-md;
  color: $color-secondary;

  @include lg-down {
    max-width: 560px;
    font-size: 18px;
  }
}

.info {
  position: absolute;
  top: -30px;
  right: 0;
  z-index: 1;
  max-width: 410px;

  @include lg-down {
    top: 50px;
    max-width: 290px;
  }
}

.background-image {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
}
