.wrapper {
  @include section-paddings;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  @include lg-down {
    margin-bottom: 5px;
  }

  @include md-down {
    margin-bottom: 0;
  }

  @include sm-down {
    display: block;
    text-align: center;
  }
}

.buttons-wrapper {
  display: flex;

  @include sm-down {
    display: none;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  cursor: pointer;
  background-color: $color-tertiary;
  border: 2px solid $color-additional-2;
  border-radius: 50%;
  outline: none;
  transition-duration: $transition-base;
  transition-property: opacity;

  @include lg-down {
    width: 40px;
    height: 40px;
  }

  &:hover {
    border: 2px solid $color-quaternary;
  }

  &:last-child {
    margin-right: 0;
  }
}

.arrow {
  height: 20px;
  margin-left: 3px;

  &.flipped {
    margin-right: 3px;
    margin-left: 0;
    transform: rotate(180deg);
  }

  path {
    stroke: $color-primary;
  }
}

.items-wrapper {
  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-left: 30px;
  margin-right: -30px;
  margin-left: -30px;

  @include md-down {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: -20px;
    margin-left: -20px;
  }

  :global {
    .swiper-slide {
      height: auto;

      &.swiper-slide-visible {
        border-radius: 8px;
        box-shadow: 0 10px 20px 10px rgba($color-primary, 0.05);

        @include md-down {
          box-shadow: 0 10px 15px 5px rgba($color-primary, 0.05);
        }
      }
    }

    .swiper-pagination {
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: 2;
      display: flex;
      align-items: center;
      transform: translateX(-50%);
    }
  }
}

.bullet {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  cursor: pointer;
  background-color: $color-quaternary;
  border: 2px solid transparent;
  border-radius: 50%;
  outline: none;
  transition: background-color $transition-base;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background-color: $color-accent-primary;
  }

  &.active {
    width: 12px;
    height: 12px;
    background-color: transparent;
    border: 2px solid $color-quaternary;
  }
}
