.wrapper {
  margin-bottom: 150px;
}

.inner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: $column-gap;
}

.links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-start: 1;
  grid-column-end: 9;
  column-gap: $column-gap;
  padding-top: 30px;
  padding-bottom: 30px;
}

.item {
  font-weight: 700;
  color: $color-primary;
  text-decoration: none;

  &.previous {
    grid-column-start: 1;
    grid-column-end: 2;

    svg {
      transform: rotate(180deg);
    }

    span {
      padding-left: 12px;
    }
  }

  &.next {
    grid-column-start: 5;
    grid-column-end: 6;
    justify-self: flex-end;

    span {
      padding-right: 12px;
    }
  }
}
