.wrapper {
  margin-bottom: 180px;

  @include lg-down {
    margin-bottom: 150px;
  }
}

.items-wrapper {
  display: flex;
  max-width: 850px;

  @include lg-down {
    max-width: 610px;
  }
}

.item {
  font-weight: 700;
  color: $color-primary;
  text-decoration: none;
  transition: color $transition-base;

  &:hover {
    color: $color-accent-primary;

    path {
      stroke: $color-accent-primary;
    }
  }

  path {
    transition: stroke $transition-base;
  }

  &.previous {
    margin-right: auto;

    svg {
      transform: rotate(180deg);
    }

    span {
      padding-left: 12px;
    }
  }

  &.next {
    margin-left: auto;

    span {
      padding-right: 12px;
    }
  }
}
