.wrapper {
  padding-top: 120px;
  padding-bottom: 120px;
  margin-top: $header-height;
  margin-bottom: 60px;
  background-image: url("./images/background.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @include section-paddings;

  @include md-down {
    padding-top: 90px;
    padding-bottom: 90px;
    margin-top: $header-height-md;
    margin-bottom: 45px;
    background-position: top 0% right 20%;
  }
}
