.wrapper {
  padding-bottom: 45px;
  margin-bottom: 45px;
  background: linear-gradient(234.34deg, #f8fafc 0%, $color-tertiary 100%), $color-tertiary;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba($color-primary, 0.25);

  @include with-link-primary;

  @include lg-down {
    padding-bottom: 25px;
    margin-bottom: 30px;
  }
}

.logo-wrapper {
  padding-top: 25px;
  padding-bottom: 20px;
  margin-bottom: 25px;
  text-align: center;
  background-color: $color-accent-tertiary;
  border-radius: 8px 8px 0 0;

  @include lg-down {
    padding-top: 20px;
    padding-bottom: 15px;
  }
}

.logo {
  @include lg-down {
    width: 40%;
  }
}

.items-wrapper {
  padding-right: 30px;
  padding-left: 30px;
  list-style-type: none;

  @include lg-down {
    padding-right: 25px;
    padding-left: 25px;
  }
}

.item {
  display: flex;
  align-items: baseline;
  padding-bottom: 15px;
  margin-bottom: 17px;
  font-size: 24px;
  font-weight: 700;
  color: $color-quaternary;
  border-bottom: 1px solid $color-additional-1;

  @include lg-down {
    padding-bottom: 10px;
    margin-bottom: 23px;
    font-size: 20px;
  }

  strong {
    margin-right: 15px;
    font-size: 40px;
    font-weight: 800;
    color: $color-primary;

    @include lg-down {
      margin-right: 10px;
      font-size: 30px;
    }
  }

  &:last-child {
    margin-bottom: 30px;

    @include lg-down {
      margin-bottom: 0;
    }
  }
}

.link-wrapper {
  display: flex;
  justify-content: center;
}

.link {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
  border-bottom: 2px solid $color-additional-2;

  @include lg-down {
    font-size: 16px;
  }
}
