.wrapper {
  margin-top: $header-height + 120px;
  font-size: $font-size-md;
  line-height: $line-height-md;
  color: $color-secondary;
  text-align: center;
  border-bottom: 2px solid $color-additional-1;

  @include section-paddings;

  @include lg-down {
    margin-top: $header-height + 90px;
  }

  @include md-down {
    margin-top: $header-height-md + 60px;
    font-size: 18px;
  }
}

.inner {
  margin-bottom: 120px;

  @include lg-down {
    margin-bottom: 90px;
  }
}

.image {
  display: block;
  max-width: 804px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 90px;

  @include lg-down {
    max-width: 653px;
    margin-bottom: 60px;
  }

  @include md-down {
    max-width: 553px;
  }

  @include sm-down {
    max-width: 354px;
  }
}

.title {
  margin-bottom: 15px;
}

.description {
  margin-top: 0;
  margin-bottom: 30px;
}
