.wrapper {
  display: flex;
  align-items: center;
  height: 70px;
  padding-right: 30px;
  margin-bottom: 30px;
  overflow: hidden;
  cursor: pointer;
  background: linear-gradient(234.34deg, #f8fafc 0%, $color-tertiary 100%);
  border-radius: 30px 4px;
  outline: none;
  box-shadow: 0 10px 20px 10px rgba($color-quaternary, 0.05);
  transition: $transition-base;

  &:hover:not(.active),
  &:focus:not(.active) {
    .name {
      color: $color-accent-primary;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.active {
    cursor: default;
    background: linear-gradient(0deg, $color-tertiary, $color-tertiary), linear-gradient(234.34deg, #f8fafc 0%, $color-tertiary 100%);
    box-shadow: 0 30px 60px 10px rgba($color-primary, 0.25);

    .number {
      color: $color-tertiary;
      background-color: $color-accent-primary;

      &::before,
      &::after {
        opacity: 1;
      }
    }

    .name {
      font-weight: 700;
    }

    &.animation-started {
      .progress-circle {
        visibility: visible;
        opacity: 1;

        circle {
          animation-name: loading;
        }
      }
    }
  }
}

.number {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 100%;
  margin-right: 30px;
  font-size: $font-size-md;
  font-weight: 700;
  line-height: $line-height-md;
  transition: $transition-base;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 50px;
    content: '';
    background-color: $color-primary;
    opacity: 0;
    transition: $transition-base;
  }

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    content: '';
    background-color: $color-accent-secondary;
    opacity: 0;
    transition: $transition-base;
  }

  span {
    position: relative;
    z-index: 1;
  }
}

.name {
  margin-top: 0;
  margin-bottom: 0;
  font-size: $font-size-md;
  font-weight: 500;
  line-height: $line-height-md;
  transition: color $transition-base;
}

.progress-circle {
  position: relative;
  width: 30px;
  height: 30px;
  margin-left: auto;
  visibility: hidden;
  border: 1px solid $color-additional-2;
  border-radius: 50%;
  opacity: 0;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  circle {
    stroke: $color-accent-primary;
    stroke-dasharray: 91;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    animation-timing-function: linear;
  }
}

@keyframes loading {
  from { stroke-dashoffset: 91; }
  to { stroke-dashoffset: 0; }
}
