.wrapper {
  position: relative;
  padding-top: calc(#{$header-height} + 90px);
  margin-bottom: 105px;

  @include lg-down {
    padding-top: calc(#{$header-height} + 70px);
    margin-bottom: 85px;
  }
}

.inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 300px;
  padding: 60px 110px;
  color: $color-additional-2;
  background-color: $color-primary;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba($color-primary, 0.25);

  @include lg-down {
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 80px;
  }
}

.date {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 700;
  color: $color-primary;
  text-align: center;
  background-color: $color-tertiary;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 30px;

  @include lg-down {
    position: inherit;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 15px;
    color: $color-tertiary;
    text-align: left;
    background-color: $color-primary;
  }
}

.day {
  display: block;
  font-size: $font-size-lg;
  font-weight: 900;
  line-height: $line-height-lg;

  @include lg-down {
    display: inline-block;
    margin-right: 5px;
  }
}

.month {
  font-weight: 700;
}

.title {
  display: -webkit-box;
  max-width: 515px;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  @include lg-down {
    max-width: 610px;
    margin-bottom: 15px;
  }
}

.content {
  max-width: 410px;

  @include lg-down {
    max-width: 610px;
  }
}

.text {
  margin-top: 0;
  margin-bottom: 30px;
}

.rectangle {
  position: absolute;
  border-radius: 8px;
  box-shadow: 0 30px 60px rgba($color-primary, 0.25);
}

.rectangle-1 {
  bottom: 90px;
  left: -15px;
  width: 40px;
  height: 40px;
  background-color: $color-accent-primary;
  border-top-left-radius: 55px;

  @include lg-down {
    top: 140px;
  }
}

.rectangle-2 {
  bottom: -15px;
  left: 220px;
  width: 40px;
  height: 40px;
  background-color: $color-accent-secondary;
  border-bottom-right-radius: 55px;

  @include lg-down {
    left: 290px;
  }
}

.rectangle-3 {
  top: -15px;
  left: 470px;
  width: 30px;
  height: 30px;
  background-color: $color-quaternary;
  border-top-right-radius: 50px;
}

.rectangle-4 {
  bottom: -30px;
  left: 630px;
  width: 60px;
  height: 60px;
  background-color: $color-accent-primary;
  border-top-left-radius: 55px;

  @include lg-down {
    left: 480px;
  }
}

.rectangle-5 {
  right: 220px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  background-color: $color-tertiary;
  border-top-right-radius: 40px;

  @include lg-down {
    right: 160px;
  }
}

.rectangle-6 {
  top: -30px;
  right: 100px;
  width: 40px;
  height: 60px;
  background-color: $color-accent-secondary;
  border-top-left-radius: 60px;
}

.rectangle-7 {
  right: 30px;
  bottom: 60px;
  width: 40px;
  height: 40px;
  background-color: $color-accent-primary;
  border-bottom-right-radius: 70px;

  @include lg-down {
    right: 40px;
    bottom: 90px;
  }
}

.rectangle-8 {
  top: 75px;
  right: -15px;
  width: 30px;
  height: 30px;
  background-color: $color-quaternary;
  border-bottom-right-radius: 45px;
}

.ellipse {
  position: absolute;
  background-color: $color-tertiary;
  border-radius: 50%;
}

.ellipse-1 {
  bottom: 40px;
  left: 70px;
  width: 6px;
  height: 6px;
}

.ellipse-2 {
  top: 40px;
  left: 160px;
  width: 6px;
  height: 6px;
}

.ellipse-3 {
  top: 20px;
  left: 310px;
  width: 9px;
  height: 10px;
}

.ellipse-4 {
  top: 125px;
  left: 675px;
  width: 6px;
  height: 6px;
}

.ellipse-5 {
  bottom: 70px;
  left: 695px;
  width: 8px;
  height: 8px;
}

.ellipse-6 {
  top: 35px;
  left: 730px;
  width: 6px;
  height: 6px;
}

.ellipse-7 {
  top: 30px;
  left: 944px;
  width: 8px;
  height: 8px;
}

.ellipse-8 {
  right: 130px;
  bottom: 105px;
  width: 6px;
  height: 6px;
}

.background-image-wrapper {
  position: absolute;
  top: 140px;
  left: 50%;
  z-index: -1;
  height: 300px;
  text-align: center;
  background-color: $color-additional-1;
  transform: translateX(-50%);

  @include lg-down {
    height: 350px;
  }
}
