.wrapper {
  @include section-paddings;

  margin-bottom: 180px;

  @include lg-down {
    margin-bottom: 150px;
  }

  @include md-down {
    margin-bottom: 120px;
  }
}

.inner {
  @include content;

  > h1,
  > h2,
  > h3 {
    margin-top: 90px;
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 1.2;

    @include lg-down {
      margin-top: 60px;
      font-size: 32px;
    }

    @include md-down {
      margin-top: 45px;
      font-size: 30px;
    }

    + section {
      margin-top: 40px;
      margin-bottom: 90px;

      @include lg-down {
        margin-bottom: 60px;
      }

      @include md-down {
        margin-top: 30px;
        margin-bottom: 45px;
      }
    }
  }

  > p {
    + section {
      margin-top: 40px;

      @include md-down {
        margin-top: 30px;
      }
    }
  }

  a {
    font-weight: 600;
  }

  :global {
    .wp-block-image {
      margin-top: 90px;
      margin-bottom: 90px;
    }
  }
}

:global {
  .wp-block-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 30px;

    @include md-down {
      margin-top: 30px;
    }
  }

  .wp-block-column {
    flex: 0 0 300px;

    @include lg-down {
      flex: 0 0 230px;
    }

    @include md-down {
      flex: 0 0 300px;
      margin-bottom: 30px;

      &:nth-last-of-type(-n+2) {
        margin-bottom: 0;
      }
    }

    @include sm-down {
      flex: 0 0 250px;
    }

    h4 {
      margin-top: 0;
      margin-bottom: 30px;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.2;

      @include lg-down {
        font-size: 22px;
      }

      @include md-down {
        margin-bottom: 15px;
        font-size: $font-size-md;
      }
    }

    ul {
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 0;
      list-style-type: none;
    }

    li {
      position: relative;
      padding-left: 30px;
      margin-bottom: 10px;
      line-height: 1.4;

      &:last-of-type {
        margin-bottom: 0;
      }

      &::before {
        position: absolute;
        top: 4px;
        left: 0;
        width: 20px;
        height: 20px;
        content: '';
        background-image: url('./images/check.svg');
      }
    }
  }
}
