.title {
  margin-bottom: 45px;
  font-size: 36px;
  text-align: center;

  @include lg-down {
    font-size: 32px;
  }

  @include md-down {
    margin-bottom: 30px;
    font-size: 30px;
  }
}

.form-container {
  max-width: 850px;
  padding: 30px;
  margin: 0 auto;
  color: $color-secondary;
  background-color: $color-additional-1;
  border-radius: 8px;
}

:global {
  #form-container {
    .hs-form {
      display: block;
    }

    .hs-form-field {
      position: relative;
      display: block;
      margin-bottom: 30px;
    }

    .hs-input {
      width: 100%;
      padding: 20px;
      font-size: $font-size-sm;
      line-height: $line-height-sm;
      background-color: $color-tertiary;
      border: 2px solid $color-additional-2;
      border-radius: 4px;
      box-shadow: 0 0 5px rgba($color-primary, 0.05);

      &:focus {
        border: 2px solid $color-accent-primary;
        outline: none;
        box-shadow: 0 5px 15px rgba($color-primary, 0.15);
      }

      &.error {
        border: 2px solid #fbd3d0;
      }

      &::placeholder {
        color: $color-secondary;
      }
    }

    .hs-message {
      textarea {
        height: 240px;
        resize: none;
      }
    }

    .hs-error-msgs {
      padding-left: 5px;
      margin-top: 5px;
      margin-bottom: 0;
      font-size: $font-size-xs;
      line-height: $line-height-xs;
      list-style-type: none;
    }

    .legal-consent-container {
      margin-bottom: 30px;
      font-size: $font-size-sm;
      line-height: $line-height-sm;
    }

    .hs-submit {
      position: relative;
      display: flex;
      justify-content: flex-end;
      width: 100%;
      padding-top: 40px;
      border-top: 2px solid $color-additional-2;
    }

    .hs-button {
      @include button;
    }

    .submitted-message {
      color: #09ac40;
      text-align: center;
      background: #d0fbdf;
      border-radius: 4px;
    }

    .hs_error_rollup {
      display: none;
    }
  }
}
