.title {
  margin-bottom: 45px;
  font-size: 36px;
  text-align: center;

  @include lg-down {
    font-size: 32px;
  }

  @include md-down {
    margin-bottom: 30px;
    font-size: 30px;
  }
}

.form-container {
  max-width: 850px;
  padding: 30px;
  margin: 0 auto;
  color: $color-secondary;
  background-color: $color-additional-1;
  border-radius: 8px;

  :global {
    .hs-form {
      display: flex;
      flex-direction: column;
    }

    .hs-form-field {
      position: relative;
      display: block;
      margin-bottom: 30px;

      @include lg-down {
        margin-bottom: 20px;
      }

      @include md-down {
        margin-bottom: 15px;
      }

      & > label {
        display: block;
        margin-bottom: 5px;
      }
    }

    .hs-input[type="text"],
    .hs-input[type="email"],
    .hs-input[type="number"],
    .hs-input[type="tel"],
    textarea {
      width: 100%;
      padding-top: 17px;
      padding-right: 20px;
      padding-bottom: 17px;
      padding-left: 20px;
      font-size: $font-size-sm;
      line-height: $line-height-sm;
      background-color: $color-tertiary;
      border: 2px solid $color-additional-2;
      border-radius: 4px;
      box-shadow: 0 0 5px rgba($color-primary, 0.05);
      -webkit-appearance: none;

      @include md-down {
        padding-top: 12px;
        padding-right: 20px;
        padding-bottom: 12px;
        padding-left: 20px;
      }

      &:focus {
        border: 2px solid $color-accent-primary;
        outline: none;
        box-shadow: 0 5px 15px rgba($color-primary, 0.15);
      }

      &.error {
        border: 2px solid #fbd3d0;
      }

      &::placeholder {
        color: $color-secondary;
      }
    }

    .hs-message {
      textarea {
        min-height: 160px;
        resize: none;
        -webkit-appearance: none;
      }
    }

    .hs-error-msgs {
      padding-left: 5px;
      margin-top: 5px;
      margin-bottom: 0;
      font-size: $font-size-xs;
      line-height: $line-height-xs;
      list-style-type: none;
    }

    .legal-consent-container {
      margin-bottom: 30px;
      font-size: $font-size-sm;
      line-height: $line-height-sm;

      .inputs-list {
        padding-left: 0;
        list-style-type: none;
      }
    }

    .hs-form-booleancheckbox-display {
      display: flex;
      align-items: baseline;

      .hs-input[type="checkbox"] {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
      }

      span {
        position: relative;
        padding-left: 35px;

        &::before {
          position: absolute;
          top: 50%;
          left: 0;
          display: block;
          width: 22px;
          height: 22px;
          content: '';
          background-color: $color-tertiary;
          border: 1px solid $color-quaternary;
          transform: translateY(-50%);
        }
      }

      .hs-input[type="checkbox"]:checked ~ span {
        &::before {
          background-color: $color-accent-primary;
          background-image: url('icons/check-without-background.svg');
          background-repeat: no-repeat;
          background-position: center;
          border: 1px solid $color-accent-primary;
        }
      }

      p {
        display: inline;
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .hs-submit {
      position: relative;
      display: flex;
      justify-content: flex-end;
      width: 100%;
      padding-top: 40px;
      border-top: 2px solid $color-additional-2;
    }

    .hs-button {
      @include button;
    }

    .submitted-message {
      color: #09ac40;
      text-align: center;
      background: #d0fbdf;
      border-radius: 4px;
    }

    .hs_error_rollup {
      order: -1;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 30px;
      color: #ac1709;
      text-align: center;
      background-color: #fbd3d0;
      border-radius: 4px;
    }
  }
}
