
.wrapper {
  position: absolute;
  top: 50%;
  right: 80px;
  max-width: 470px;
  border-radius: 8px;
  transform: translateY(-50%);

  @include lg-down {
    right: 0;
    max-width: 400px;
  }

  @include md-down {
    position: relative;
    top: 0;
    max-width: 460px;
    margin-right: auto;
    margin-left: auto;
    transform: none;
  }

  @include sm-down {
    margin-bottom: 110px;
  }
}

.inner {
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  background: linear-gradient(234.34deg, #f8fafc 0%, $color-tertiary 100%);
  border-radius: 8px;
  box-shadow: 0 30px 60px rgba($color-primary, 0.25);

  @include xs-down {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
}

.title {
  margin-bottom: 30px;
}

.content {
  ul {
    padding-left: 16px;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;

    li {
      position: relative;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        position: absolute;
        top: 8px;
        left: -16px;
        width: 6px;
        height: 6px;
        content: '';
        background-color: $color-quaternary;
        border-radius: 50%;
      }
    }
  }
}

.rectangle {
  position: absolute;
  z-index: -1;
  border-radius: 8px;
  box-shadow: 0 30px 60px rgba($color-primary, 0.25);
}

.rectangle-1 {
  top: -120px;
  right: 280px;
  bottom: 110px;
  left: -120px;
  background-color: $color-accent-secondary;
  border-top-left-radius: 120px;

  @include lg-down {
    top: -100px;
    right: 120px;
    bottom: 85px;
    left: 50px;
  }

  @include md-down {
    right: 250px;
    bottom: 85px;
    left: -100px;
  }

  @include sm-down {
    top: -80px;
    right: 80px;
    bottom: 65px;
    left: 15px;
  }
}

.rectangle-2 {
  top: 0;
  right: -120px;
  bottom: 120px;
  left: 330px;
  background-color: $color-accent-primary;
  border-bottom-right-radius: 120px;

  @include lg-down {
    display: none;
  }

  @include md-down {
    right: -100px;
    left: 300px;
    display: block;
  }

  @include sm-down {
    display: none;
  }
}

.rectangle-3 {
  top: -60px;
  right: -60px;
  bottom: -120px;
  left: 100px;
  background-color: $color-primary;
  border-bottom-right-radius: 120px;

  @include lg-down {
    top: -50px;
    right: -50px;
    bottom: -100px;
    left: 160px;
  }

  @include md-down {
    left: 80px;
  }

  @include sm-down {
    top: -40px;
    right: -50px;
    bottom: -80px;
    left: 65px;
  }
}

.rectangle-4 {
  top: 60px;
  right: 140px;
  bottom: -60px;
  left: -60px;
  background-color: $color-accent-primary;
  border-bottom-left-radius: 120px;

  @include lg-down {
    top: 50px;
    right: 50px;
    bottom: -50px;
    left: 50px;
  }

  @include md-down {
    right: 120px;
    left: -50px;
  }

  @include sm-down {
    top: 45px;
    right: 65px;
    bottom: -40px;
    left: -50px;
  }
}
