.item {
  display: flex;
  margin-bottom: 30px;

  @include with-link-secondary;

  &:last-child {
    margin-bottom: 0;
  }
}

.date {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  align-self: flex-start;
  justify-content: center;
  width: 64px;
  height: 74px;
  margin-right: 20px;
  line-height: $line-height-lg;
  background-color: $color-accent-secondary;
  border-radius: 5px;
  border-bottom-right-radius: 30px;
}

.day {
  font-size: $font-size-lg;
  font-weight: 900;
}

.event-title {
  display: block;
  margin-bottom: 5px;
  font-size: $font-size-md;
  font-weight: 700;
}

.details {
  color: $color-secondary;

  @include with-link-primary;
}

.time {
  font-weight: 700;
}
