.wrapper {
  padding-top: 90px;
  padding-bottom: 30px;
}

.section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: $column-gap;
  margin-bottom: 60px;

  &:last-child {
    margin-bottom: 0;
  }
}

.other-links {
  display: flex;
  flex-direction: column;
  grid-column: span 5;
  align-items: flex-start;
  justify-content: space-between;
}

.logo {
  display: block;
}

.social-menu {
  display: flex;
  column-gap: 15px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.social-menu-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: $color-quaternary;
  border-radius: 100px;
  transition: $transition-base;

  &:hover {
    background-color: $color-accent-primary;
  }

  &_facebook {
    svg {
      width: 12px;
    }
  }

  &_github {
    svg {
      width: 26px;
    }
  }

  &_instagram {
    svg {
      width: 20px;
    }
  }

  &_linkedin {
    svg {
      width: 19px;
      margin-bottom: 4px;
    }
  }

  &_twitter {
    svg {
      width: 22px;
    }
  }

  svg {
    fill: $color-tertiary;
  }
}

.nav {
  grid-column: span 7;
}

.menu {
  display: flex;
  column-gap: 86px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.heading {
  margin-bottom: 30px;
}

.sub-menu {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.sub-menu-link {
  display: block;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-primary;
  text-decoration: none;
  transition: $transition-base;

  &:hover {
    color: $color-accent-primary;
  }
}

.design {
  grid-column: span 5;
  margin-top: 0;
  margin-bottom: 0;
  color: $color-quaternary;

  a {
    color: $color-primary;
    text-decoration: none;
    transition: $transition-base;

    &:hover {
      color: $color-accent-primary;
    }
  }
}

.address {
  grid-column: span 5;
  font-style: normal;
  color: $color-quaternary;
}

.copyright {
  grid-column: span 2;
  color: $color-quaternary;
}
