.wrapper {
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: $color-primary;

  @include section-paddings;

  @include lg-down {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  @include md-down {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.inner {
  z-index: 1;
}

.title {
  max-width: 860px;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
  text-align: center;

  @include lg-down {
    max-width: 610px;
    margin-bottom: 45px;
  }

  @include md-down {
    margin-bottom: 30px;
  }

  @include sm-down {
    max-width: initial;
  }
}

.items-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: $column-gap;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;

  @include md-down {
    display: block;
  }
}

.stripes {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);

  @include lg-down {
    min-width: 1700px;
  }

  @include md-down {
    left: -770px;
    min-width: 1930px;
    transform: none;
  }
}
