.wrapper {
  position: relative;
  padding-top: 170px;
  padding-bottom: 150px;
  margin-bottom: 160px;
  background-color: $color-primary;

  @include section-paddings;

  @include lg-down {
    padding-top: 150px;
    padding-bottom: 120px;
    margin-bottom: 120px;
  }
}

.inner {
  z-index: 1;
}

.title {
  margin-bottom: 30px;
  text-align: center;
}

.description {
  max-width: 860px;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
  text-align: center;

  @include lg-down {
    max-width: 610px;
    margin-bottom: 50px;
  }
}

.items-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: $column-gap;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.stripes {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
}
