.breadcrumbs {
  position: absolute;
  top: -50px;
  right: 0;
  left: 0;
  display: block;
  font-size: $font-size-xs;
  font-weight: 700;
  line-height: $line-height-xs;
  color: $color-secondary;
  text-transform: uppercase;

  @include sm-down {
    top: -70px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .link {
    position: relative;
    margin-right: 25px;

    @include link-primary;

    &::after {
      position: absolute;
      top: 50%;
      right: -15px;
      display: inline-block;
      padding: 3px;
      content: "";
      border: solid $color-secondary;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(-45deg);
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}
