.wrapper {
  display: flex;
  padding-bottom: 60px;
  margin-bottom: 60px;
  color: $color-secondary;
  border-bottom: 1px solid $color-additional-2;

  @include lg-down {
    flex-direction: column;
    padding-bottom: 50px;
    margin-bottom: 50px;
  }

  @include md-down {
    padding-bottom: 40px;
    margin-bottom: 45px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.date {
  flex-shrink: 0;
  align-self: flex-start;
  width: 70px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-right: 40px;
  color: $color-primary;
  text-align: center;
  background-color: $color-additional-1;
  border-radius: 5px;
  border-bottom-right-radius: 30px;

  @include lg-down {
    display: flex;
    align-items: flex-end;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 15px;
    background-color: $color-tertiary;
  }
}

.day {
  display: block;
  font-size: $font-size-lg;
  font-weight: 900;
  line-height: $line-height-lg;

  @include lg-down {
    margin-right: 5px;
    font-size: 24px;
  }
}

.month {
  font-weight: 700;

  @include lg-down {
    font-size: 14px;
  }
}

.title {
  display: -webkit-box;
  margin-bottom: 15px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.short-description {
  display: -webkit-box;
  margin-top: 0;
  margin-bottom: 30px;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  @include md-down {
    margin-bottom: 25px;
  }
}
