.inner {
  @include md-down {
    max-width: 770px;
  }
}

.content {
  max-width: 850px;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;

  @include content;

  @include md-down {
    margin-bottom: 50px;
  }
}
