.inner {
  @include lg-down {
    max-width: 770px;
  }

  @include md-down {
    max-width: 700px;
  }

  @include sm-down {
    margin-right: 15px;
    margin-left: 15px;
  }
}

.content {
  max-width: 850px;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;

  @include content;

  @include lg-down {
    margin-bottom: 50px;
  }

  @include md-down {
    margin-bottom: 40px;
  }
}
