.wrapper {
  position: relative;
  padding-top: 240px;
  padding-bottom: 358px;
  margin-bottom: 120px;
}

.title {
  max-width: 480px;
  margin-bottom: 30px;
}

.description {
  max-width: 480px;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: $font-size-md;
  line-height: $line-height-md;
  color: $color-secondary;
}

.illustration {
  position: absolute;
  top: -70px;
  right: -215px;
  width: 830px;
}

.shape-1 {
  position: absolute;
  top: 60px;
  right: 0;
  z-index: -1;
  width: calc(645px + $container-side-gap);
  height: 940px;
}

.shape-2 {
  position: absolute;
  bottom: -380px;
  left: 0;
  z-index: -1;
  width: calc(520px + $container-side-gap);
  height: 700px;
}
