.wrapper {
  position: relative;
  padding-top: 240px;
  padding-bottom: 360px;
  margin-bottom: 120px;

  @include section-paddings;

  @include lg-down {
    padding-top: 220px;
    padding-bottom: 260px;
    margin-bottom: 125px;
  }
}

.title {
  max-width: 480px;
  margin-bottom: 30px;
}

.description {
  max-width: 480px;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: $font-size-md;
  line-height: $line-height-md;
  color: $color-secondary;

  @include lg-down {
    font-size: 18px;
  }
}

.shape-1 {
  position: absolute;
  top: -180px;
  left: 645px;
  z-index: -1;
  width: calc(645px + #{$container-side-gap});
  min-width: 960px;
  height: 940px;

  @include lg-down {
    top: -160px;
    right: calc(#{$container-side-gap-lg} / -1 - 300px);
    left: auto;
    width: 800px;
    min-width: initial;
    height: initial;
  }
}

.shape-2 {
  position: absolute;
  right: 770px;
  bottom: -735px;
  z-index: -1;
  width: calc(520px + #{$container-side-gap});
  min-width: 835px;
  height: 700px;

  @include lg-down {
    right: auto;
    bottom: -615px;
    left: calc(#{$container-side-gap-lg} / -1 - 235px);
    width: 696px;
    min-width: initial;
    height: initial;
  }
}

.illustration {
  position: absolute;
  top: -70px;
  right: -205px;
  width: 830px;

  @include lg-down {
    top: -70px;
    right: -265px;
    width: 692px;
  }
}
