.wrapper {
  margin-bottom: 180px;
  background-image: linear-gradient(90deg, rgba($color-primary, 1) 50%, rgba($color-additional-1, 1) 50%);

  @include section-paddings;

  @include lg-down {
    margin-bottom: 50px;
  }

  @include md-down {
    margin-bottom: 25px;
    background-image: none;
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 120px;
  padding-bottom: 120px;

  @include lg-down {
    padding-top: 90px;
    padding-bottom: 95px;
  }

  @include md-down {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: $font-size-md;
  line-height: $line-height-md;

  &:nth-child(odd) {
    color: $color-tertiary;
    background-color: $color-primary;

    .title {
      color: $color-tertiary;
    }
  }

  &:nth-child(even) {
    padding-left: 125px;
    background-color: $color-additional-1;

    @include lg-down {
      padding-left: 95px;
    }

    @include md-down {
      padding-left: 0;
    }
  }

  @include md-down {
    padding-top: 70px;
    padding-bottom: 75px;
  }
}

.md-hidden {
  @include md-down {
    display: none;
  }
}

.md-visible {
  display: none;

  @include md-down {
    display: block;
  }
}

.inner {
  width: 100%;
}

.title {
  margin-bottom: 10px;

  @include md-down {
    margin-bottom: 30px;
  }
}

.description {
  max-width: 480px;
  margin-bottom: 15px;

  @include lg-down {
    max-width: 370px;
    margin-bottom: 10px;
  }

  @include md-down {
    max-width: initial;
    margin-bottom: 25px;
    font-size: 18px;
  }
}

.list {
  padding-left: 0;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  list-style-type: none;

  @include md-down {
    margin-bottom: 45px;
    font-size: 16px;
  }
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.number {
  position: relative;
  display: block;
  padding-top: 6px;
  padding-right: 15px;
  padding-bottom: 6px;
  padding-left: 15px;
  margin-right: 10px;
  font-weight: 800;
  color: $color-primary;

  span {
    position: inherit;
    z-index: 1;
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 36px;
    content: '';
    background-color: $color-accent-secondary;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba($color-primary, 0.15);
    transform: translate(-50%, -50%);

    @include md-down {
      width: 32px;
      height: 32px;
    }
  }
}

.button {
  margin-top: auto;
}
