.wrapper {
  position: relative;
  text-align: center;
  background-color: $color-primary;

  @include section-paddings;
}

.inner {
  z-index: 1;
  padding-top: 135px;
  padding-bottom: 135px;

  @include lg-down {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  @include md-down {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  @include sm-down {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.title {
  margin-bottom: 5px;
}

.description {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: $font-size-md;
  line-height: $line-height-md;
  color: $color-quaternary;

  @include lg-down {
    font-size: 18px;
  }

  @include md-down {
    margin-bottom: 25px;
    font-size: 16px;
  }
}

.background-image {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rectangle {
  position: absolute;
  border-radius: 8px;
  box-shadow: 0 30px 60px rgba($color-primary, 0.25);
}

.rectangle-1 {
  top: 160px;
  left: -115px;
  width: 40px;
  height: 40px;
  background-color: $color-quaternary;
  border-top-right-radius: 40px;

  @include lg-down {
    display: none;
  }
}

.rectangle-2 {
  bottom: 155px;
  left: 75px;
  width: 60px;
  height: 40px;
  background-color: $color-accent-primary;
  border-top-left-radius: 30px;

  @include lg-down {
    bottom: 120px;
    left: 0;
  }

  @include md-down {
    display: none;
  }
}

.rectangle-3 {
  top: -30px;
  left: 165px;
  width: 70px;
  height: 70px;
  background-color: $color-accent-secondary;
  border-top-left-radius: 50px;

  @include lg-down {
    left: 90px;
  }

  @include md-down {
    top: -25px;
    left: 25px;
  }

  @include sm-down {
    top: -25px;
    left: 0;
  }
}

.rectangle-4 {
  bottom: 95px;
  left: 335px;
  width: 40px;
  height: 40px;
  background-color: $color-tertiary;
  border-top-right-radius: 40px;

  @include lg-down {
    bottom: 45px;
    left: 215px;
  }

  @include md-down {
    bottom: 50px;
    left: 95px;
  }

  @include sm-down {
    display: none;
  }
}

.rectangle-5 {
  top: 40px;
  left: 515px;
  width: 40px;
  height: 40px;
  background-color: $color-accent-primary;
  border-bottom-right-radius: 40px;

  @include lg-down {
    left: 385px;
  }

  @include md-down {
    top: 25px;
    left: 285px;
  }

  @include sm-down {
    top: -15px;
    right: 65px;
    left: auto;
  }
}

.rectangle-6 {
  bottom: -15px;
  left: 565px;
  width: 40px;
  height: 40px;
  background-color: $color-quaternary;
  border-top-left-radius: 40px;

  @include lg-down {
    left: 385px;
  }

  @include md-down {
    left: 270px;
  }

  @include sm-down {
    left: 30px;
  }
}

.rectangle-7 {
  top: -15px;
  right: 335px;
  width: 60px;
  height: 60px;
  background-color: $color-quaternary;
  border-bottom-right-radius: 60px;

  @include lg-down {
    right: 50px;
  }

  @include md-down {
    top: -10px;
    right: 145px;
  }

  @include sm-down {
    display: none;
  }
}

.rectangle-8 {
  right: 295px;
  bottom: 125px;
  width: 40px;
  height: 40px;
  background-color: $color-tertiary;
  border-bottom-right-radius: 40px;

  @include lg-down {
    right: 195px;
    bottom: 80px;
  }

  @include md-down {
    right: 125px;
    bottom: 70px;
  }

  @include sm-down {
    right: 10px;
    bottom: 40px;
  }
}

.rectangle-9 {
  right: 115px;
  bottom: -30px;
  width: 105px;
  height: 70px;
  background-color: $color-accent-primary;
  border-bottom-right-radius: 50px;

  @include lg-down {
    right: 0;
  }

  @include md-down {
    bottom: -25px;
  }

  @include sm-down {
    display: none;
  }
}

.rectangle-10 {
  top: 130px;
  right: 45px;
  width: 50px;
  height: 50px;
  background-color: $color-accent-secondary;
  border-top-right-radius: 40px;

  @include lg-down {
    display: none;
  }
}

.rectangle-11 {
  right: -115px;
  bottom: 155px;
  width: 40px;
  height: 40px;
  background-color: $color-quaternary;
  border-bottom-left-radius: 40px;

  @include lg-down {
    display: none;
  }
}
