.wrapper {
  position: relative;
  padding-top: 120px;
  padding-bottom: 72px;
  margin-bottom: 150px;
  background-color: $color-additional-1;
}

.shape {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  min-width: 1920px;
  transform: translateX(-50%);
}
