.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image:
    linear-gradient(
      234.34deg,
      #f8fafc 0%,
      $color-tertiary 100%
    );
  border-radius: 8px;
  transition: background-image $transition-base;

  @include hover {
    background:
      linear-gradient(0deg, $color-tertiary, $color-tertiary),
      linear-gradient(234.34deg, #f8fafc 0%, $color-tertiary 100%);
  }
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  color: inherit;
  text-decoration: none;

  @include md-down {
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
  }
}

.categories-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  margin-top: -5px;
  margin-right: -7.5px;
  margin-bottom: -5px;
  margin-left: -7.5px;
  list-style-type: none;

  @include md-down {
    display: none;
  }
}

.category {
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  margin-top: 5px;
  margin-right: 7.5px;
  margin-bottom: 5px;
  margin-left: 7.5px;
  font-size: $font-size-xs;
  font-weight: 700;
  line-height: $line-height-xs;
  background-color: $color-additional-2;
  border-radius: 2px;
}

.title {
  display: -webkit-box;
  margin-top: 30px;
  margin-bottom: 35px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  @include lg-down {
    margin-top: 35px;
  }

  @include md-down {
    margin-bottom: 25px;
  }
}

.read-more {
  position: relative;
  margin-top: auto;
}
