.wrapper {
  position: relative;
  margin-top: $header-height;
  margin-bottom: 75px;
  text-align: center;

  @include md-down {
    margin-bottom: 85px;
  }

  @include sm-down {
    margin-top: 74px;
    margin-bottom: 70px;
  }
}

.inner {
  padding-top: 60px;
  padding-bottom: 90px;

  @include md-down {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  @include sm-down {
    padding-top: 40px;
    padding-bottom: 74px;
  }
}

.categories-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  @include md-down {
    margin-bottom: 15px;
  }
}

.category {
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  margin-right: 15px;
  font-size: $font-size-xs;
  font-weight: 700;
  line-height: $line-height-xs;
  background-color: $color-additional-2;
  border-radius: 2px;

  &:nth-of-type(odd) {
    border-top-right-radius: 20px;
  }

  &:nth-of-type(even) {
    border-bottom-right-radius: 20px;
  }

  &:last-child {
    margin-right: 0;
  }

  @include md-down {
    font-size: 13px;
  }
}

.title {
  max-width: 850px;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;

  @include md-down {
    font-size: 40px;
  }

  @include sm-down {
    max-width: 580px;
    font-size: 35px;
  }
}

.date {
  color: $color-secondary;
}

.background-image-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: -1;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: $color-additional-1;
  transform: translateX(-50%);

  img {
    height: 100%;
  }
}
