.wrapper {
  position: relative;
  padding-top: 140px;
  margin-bottom: 75px;
}

.inner {
  padding-top: 63px;
  padding-right: 160px;
  padding-bottom: 60px;
  padding-left: 160px;
  text-align: center;
}

.categories {
  margin-bottom: 20px;

  span {
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    margin-right: 15px;
    font-size: $font-size-xs;
    font-weight: 700;
    line-height: $line-height-xs;
    background-color: $color-additional-3;
    border-radius: 2px;
    border-bottom-right-radius: 20px;

    &:first-of-type {
      border-radius: 2px;
      border-top-right-radius: 20px;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.title {
  margin-bottom: 15px;
}

.date {
  margin-bottom: 30px;
  color: $color-secondary;
}

.background-image {
  position: absolute;
  top: 140px;
  left: 50%;
  z-index: -1;
  width: 100%;
  height: 350px;
  background-color: $color-additional-1;
  object-fit: cover;
  object-position: center center;
  transform: translateX(-50%);
}
