@mixin content {
  font-size: 18px;
  line-height: 1.6;

  @include with-link-primary;

  @include md-down {
    font-size: 16px;
  }

  > * {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;

    @include md-down {
      margin-bottom: 15px;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    font-weight: 900;
    line-height: $line-height-lg;
  }

  > h1,
  > h2,
  > h3 {
    margin-top: 60px;
    margin-bottom: 30px;

    @include lg-down {
      margin-top: 50px;
    }

    @include md-down {
      margin-top: 40px;
    }
  }

  > h4,
  > h5,
  > h6 {
    margin-top: 30px;

    @include md-down {
      margin-top: 20px;
    }
  }

  > h1 {
    font-size: 70px;

    @include lg-down {
      font-size: 60px;
    }

    @include md-down {
      font-size: 50px;
    }
  }

  > h2 {
    font-size: 50px;

    @include lg-down {
      font-size: 40px;
    }

    @include md-down {
      font-size: 36px;
    }
  }

  > h3 {
    font-size: 36px;

    @include lg-down {
      font-size: 32px;
    }

    @include md-down {
      font-size: 30px;
    }
  }

  > h4 {
    font-size: 26px;

    @include lg-down {
      font-size: 24px;
    }

    @include md-down {
      font-size: 22px;
    }
  }

  > h5 {
    font-size: 24px;
    line-height: 1.6;

    @include lg-down {
      font-size: 22px;
    }

    @include md-down {
      font-size: 20px;
    }
  }

  > ul,
  > ol {
    padding-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;

    @include md-down {
      margin-top: 25px;
      margin-bottom: 25px;
    }

    @include sm-down {
      padding-left: 20px;
    }

    li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  > ul {
    @include xs-down {
      padding-left: 0;
    }

    li {
      position: relative;
      padding-left: 16px;
      list-style-type: none;

      li:first-of-type {
        margin-top: 10px;
      }

      &::before {
        position: absolute;
        top: 11px;
        left: 0;
        width: 6px;
        height: 6px;
        content: "";
        background-color: $color-accent-primary;
        border-radius: 50%;
      }
    }
  }

  > ol {
    @include xs-down {
      padding-left: 15px;
    }
  }

  > blockquote {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 45px;
    margin-right: -110px;
    margin-bottom: 30px;
    margin-left: -110px;
    border-bottom: 4px solid $color-primary;

    @include lg-down {
      margin-top: 45px;
      margin-right: -80px;
      margin-bottom: 50px;
      margin-left: -80px;
    }

    @include md-down {
      margin-top: 40px;
      margin-right: 0;
      margin-left: 0;
    }

    &::before {
      position: absolute;
      top: -20px;
      left: 0;
      width: 38px;
      height: 30px;
      content: "";
      background-image: url(icons/quote.svg);
      background-repeat: no-repeat;

      @include lg-down {
        top: -15px;
        width: 35px;
        height: 28px;
        background-size: contain;
      }

      @include md-down {
        width: 33px;
        height: 26px;
      }
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      width: calc(100% - 70px);
      height: 4px;
      content: "";
      background-color: $color-primary;

      @include lg-down {
        width: calc(100% - 70px);
      }

      @include md-down {
        top: -4px;
        width: calc(100% - 60px);
      }

      @include sm-down {
        width: calc(100% - 50px);
      }
    }

    p {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 22px;
      font-style: italic;

      @include md-down {
        font-size: 20px;
      }

      @include xs-down {
        font-size: 18px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    cite {
      display: block;
      margin-top: 15px;
      font-style: normal;
      color: $color-secondary;

      &::before {
        content: "– ";
      }
    }
  }

  code {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    font-family: $font-family-primary;
    color: #fb687f;
    background-color: $color-additional-1;
    border-radius: 2px;
  }

  pre {
    margin-top: 45px;
    font-family: inherit;
    color: $color-secondary;
    white-space: pre-wrap;
  }

  hr {
    width: 100%;
    height: 8px;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: $color-additional-1;
    border: none;

    @include lg-down {
      margin-top: 50px;
      margin-bottom: 50px;
    }

    @include md-down {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: contain;
  }

  iframe {
    @include sm-down {
      display: block;
      width: 100%;
      overflow: hidden;
    }
  }

  :global {
    .wp-block-embed {
      text-align: center;
    }

    .wp-block-image {
      margin-top: 30px;
      margin-bottom: 30px;
      line-height: 1;
      text-align: center;

      img {
        object-fit: contain !important;
      }

      @include md-down {
        margin-top: 25px;
        margin-right: 0;
        margin-bottom: 25px;
        margin-left: 0;
      }

      .gatsby-image-wrapper {
        margin-bottom: 15px;
        line-height: 0;

        img {
          object-fit: contain !important;
        }

        @include md-down {
          margin-bottom: 10px;
        }
      }

      figcaption {
        font-size: $font-size-sm;
        line-height: $font-size-sm;
        color: $color-secondary;
        text-align: center;

        @include md-down {
          font-size: $font-size-xs;
          line-height: $line-height-sm;
        }
      }
    }

    .wp-block-table {
      @include md-down {
        overflow-x: auto;
      }

      table {
        border-collapse: collapse;

        td,
        th {
          padding: 10px;
          border: 2px solid $color-primary;
        }

        td {
          text-align: center;
        }
      }
    }
  }
}
