@mixin lg-down {
  // 1329.98 - 1024
  @media only screen and (max-width: $breakpoint-lg-down) {
    @content;
  }
}

@mixin md-down {
  // 1023.98 - 768
  @media only screen and (max-width: $breakpoint-md-down) {
    @content;
  }
}

@mixin sm-down {
  // 767.98 - 414
  @media only screen and (max-width: $breakpoint-sm-down) {
    @content;
  }
}

@mixin xs-down {
  // 413.98 - 320
  @media only screen and (max-width: $breakpoint-xs-down) {
    @content;
  }
}
