.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  overflow-y: auto;
  visibility: hidden;
  transition-duration: $transition-base;
  transition-property: transform visibility;
  transform: translateX(100%);

  @include safe-area(width, left, 295px);

  &.open {
    visibility: visible;
    transform: translateX(0);
  }
}

.inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $color-tertiary;

  @include safe-area(padding-top, top, 30px);
  @include safe-area(padding-right, right, 30px);
  @include safe-area(padding-bottom, bottom, 30px);
  @include safe-area(padding-left, left, 30px);
}

.lang-menu {
  position: relative;
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 25px;
  list-style-type: none;

  &::after {
    position: absolute;
    bottom: -60px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 45px;
    pointer-events: none;
    content: '';
    background-image: linear-gradient(180deg, $color-tertiary 0%, rgba($color-tertiary, 0) 100%);
  }
}

.lang-menu-item {
  position: relative;
  margin-right: 34px;
  font-size: $font-size-xs;
  line-height: $line-height-xs;
  color: $color-quaternary;

  &::after {
    position: absolute;
    top: 50%;
    right: -19px;
    width: 4px;
    height: 4px;
    content: '';
    background-color: #dfe2ec;
    border-radius: 50%;
    transform: translateY(-50%);
  }

  &:last-child {
    margin-right: 0;

    &::after {
      display: none;
    }
  }
}

.lang-menu-link {
  display: block;
  color: $color-primary;
  text-decoration: none;
  transition: color $transition-base;

  @include hover {
    color: $color-accent-primary;
  }

  &.active {
    color: inherit;
    pointer-events: none;
  }
}

.menu-wrapper {
  margin-top: 0;
  margin-bottom: 30px;
  overflow-y: auto;

  @include safe-area(padding-left, left, 30px);
  @include safe-area(padding-right, right, 30px);
  @include safe-area(margin-left, left, -30px);
  @include safe-area(margin-right, right, -30px);
}

.list {
  padding-left: 0;
  margin-top: 45px;
  margin-bottom: 45px;
  list-style-type: none;

  @include with-link-secondary;
}

.list-item {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.menu {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.menu-item {
  border-bottom: 1px solid $color-additional-1;

  &:last-child {
    border-bottom: none;
  }
}

.menu-link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  transition: color $transition-base;

  @include hover {
    color: $color-accent-primary;
  }
}

.button {
  position: relative;
  margin-top: auto;

  &::before {
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
    height: 45px;
    pointer-events: none;
    content: '';
    background-image: linear-gradient(180deg, rgba($color-tertiary, 0) 0%, $color-tertiary 100%);
  }
}

.close-button {
  position: absolute;
  top: 25px;
  width: 30px;
  height: 30px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;

  @include safe-area(right, right, 25px);

  @include hover {
    &::before,
    &::after {
      background-color: $color-accent-primary;
    }
  }

  &::before,
  &::after {
    position: absolute;
    width: 25px;
    height: 3px;
    content: '';
    background-color: $color-primary;
    border-radius: 2px;
    transition: background-color $transition-base;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
