.wrapper {
  position: relative;
  margin-bottom: 180px;

  @include section-paddings;

  @include md-down {
    margin-bottom: 120px;
  }
}

.content {
  max-width: 770px;

  @include content;

  blockquote {
    margin-right: 0;
    margin-left: 0;
  }

  @include lg-down {
    max-width: 560px;
  }

  @include md-down {
    max-width: initial;
    margin-bottom: 50px;
  }
}

.info {
  position: absolute;
  top: -340px;
  right: 0;
  z-index: 1;
  max-width: 410px;

  @include lg-down {
    top: -320px;
    max-width: 290px;
  }

  @include md-down {
    position: relative;
    top: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 25px;
    column-gap: $column-gap-md;
    max-width: initial;
  }

  @include sm-down {
    row-gap: 20px;
  }
}
