.wrapper {
  position: relative;
  margin-bottom: 180px;

  @include section-paddings;

  @include md-down {
    margin-bottom: 120px;
  }
}

.inner {
  display: flex;

  @include md-down {
    display: block;
  }
}

.content {
  max-width: 770px;
  margin-right: 110px;

  @include content;

  blockquote {
    margin-right: 0;
    margin-left: 0;
  }

  @include lg-down {
    max-width: 560px;
    margin-right: 80px;
  }

  @include md-down {
    max-width: initial;
    margin-right: 0;
    margin-bottom: 50px;
  }
}

.info-wrapper {
  max-width: 410px;
  margin-top: -350px;
  margin-left: auto;

  @include lg-down {
    max-width: 290px;
    margin-top: -315px;
  }

  @include md-down {
    max-width: initial;
    margin-top: 0;
  }
}
