.wrapper {
  margin-bottom: 180px;

  @include section-paddings;
}

.content {
  max-width: 770px;

  @include content;

  blockquote {
    margin-right: 0;
    margin-left: 0;
  }

  @include lg-down {
    max-width: 560px;
  }
}
