.wrapper {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 210px;

  @include section-paddings;

  @include lg-down {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 170px;
  }

  @include md-down {
    padding-top: 25px;
    padding-bottom: 0;
    margin-bottom: 150px;
  }

  @include sm-down {
    padding-top: 0;
    margin-bottom: 120px;
    text-align: center;
  }
}

.inner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: $column-gap;

  @include sm-down {
    display: block;
  }
}

.content {
  grid-column-start: 1;
  grid-column-end: 6;
  padding-top: 95px;

  @include lg-down {
    padding-top: 60px;
  }

  @include md-down {
    padding-top: 0;
  }

  @include sm-down {
    margin-bottom: 70px;
  }
}

.title {
  margin-bottom: 30px;

  @include md-down {
    margin-bottom: 25px;
  }
}

.subtitle {
  margin-bottom: 30px;

  @include md-down {
    margin-bottom: 25px;
  }
}

.text {
  max-width: 478px;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: $font-size-md;
  font-weight: 500;
  line-height: $line-height-md;
  color: $color-secondary;

  @include lg-down {
    max-width: initial;
    font-size: 18px;
  }

  @include md-down {
    margin-bottom: 25px;
    font-size: 16px;
  }
}

.items-wrapper {
  position: relative;
  grid-column-start: 7;
  grid-column-end: 12;

  @include lg-down {
    grid-column-end: 13;
  }

  @include md-down {
    padding-top: 40px;
  }

  @include sm-down {
    max-width: 340px;
    padding-top: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

.items-inner {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 20px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;

  @include lg-down {
    column-gap: 15px;
  }

  @include md-down {
    column-gap: 10px;
  }
}

.shape-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  margin-left: 30px;
  transform: translate(-50%, -50%);

  @include lg-down {
    width: 710px;
  }

  @include md-down {
    top: -30px;
    width: 535px;
    margin-left: 50px;
    transform: translateX(-50%);
  }

  @include sm-down {
    top: -70px;
  }
}

.shape-2 {
  position: absolute;
  right: 1175px;
  bottom: -520px;
  z-index: -1;
  width: calc(115px + #{$container-side-gap});
  min-width: 430px;
  height: 700px;

  @include lg-down {
    right: auto;
    bottom: -385px;
    left: calc(#{$container-side-gap-lg} / -1 - 125px);
    width: 300px;
    min-width: initial;
    height: initial;
  }

  @include md-down {
    bottom: -230px;
    left: calc(#{$container-side-gap-md} / -1 - 80px);
    width: 175px;
  }

  @include sm-down {
    bottom: -260px;
    left: calc(#{$section-padding} / -1 - 80px);
  }
}
